# 작업 1유형

In [14]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p1_1.csv')
df.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,NaN,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.9,4.98,24.0
1,0.02731,NaN,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.9,9.14,21.6

## 1-1
주어진 Dataset에서 CRIM값이 가장 큰 10개의 지역을 구하고
10개의 지역의 CRIM값을 그 중 가장 작은 값으로 대체하라. 그리고
AGE 컬럼 값이 80이상인 대체 된 CRIM 평균값을 구하라

In [15]:
df = df.sort_values('CRIM', ascending=False).reset_index(drop=True)

In [16]:
df.loc[:9, 'CRIM'] = df.loc[:9, 'CRIM'].min()

In [17]:
df[df['AGE'] >= 80]['CRIM'].mean()

5.759386625

## 1-2
1-1에서 사용한 데이터에서 RM 중앙값으로 해당 컬럼의 결측치를 대체하라
그리고 해당 컬럼의 결측치 대치 전후의 표준편차 차이의 절댓값을 소숫점 이하 3째자리 까지 구하라

In [18]:
std1 = df['RM'].std()

In [19]:
df['RM'] = df['RM'].fillna(value=df['RM'].median())

In [20]:
std2 = df['RM'].std()

In [21]:
ans = round(abs(std1 - std2), 3)
print(ans)

0.027

## 1-3
주어진 Dataset의 DIS 평균으로 부터 1.5 * 표준편차를 벗어나는 영역을 이상치라고 판단하고
DIS 컬럼의 이상치들의 합을 구하여라.

In [22]:
dis_mean = df['DIS'].mean()
dis_std = df['DIS'].std()

In [23]:
upper_bound = dis_mean + 1.5 * dis_std
lower_bound = dis_mean - 1.5 * dis_std

In [24]:
cond1 = df['DIS'] > upper_bound
cond2 = df['DIS'] < lower_bound

In [25]:
df[cond1 | cond2]['DIS'].sum()

404.4101

## 작업 2유형
x_train 데이터로 학습한 모델을 x_test에 적용하여 예측한 결과를 제출하라. 평가 지표는 f1_score이다.

In [26]:
import pandas as pd
#데이터 로드
train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_train.csv")
y = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_train.csv")
test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_test.csv")

In [27]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6598 entries, 0 to 6597
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   6598 non-null   int64
 1   Warehouse_block      6598 non-null   object
 2   Mode_of_Shipment     6598 non-null   object
 3   Customer_care_calls  6598 non-null   object
 4   Customer_rating      6598 non-null   int64
 5   Cost_of_the_Product  6598 non-null   int64
 6   Prior_purchases      6598 non-null   int64
 7   Product_importance   6598 non-null   object
 8   Gender               6598 non-null   object
 9   Discount_offered     6598 non-null   int64
 10  Weight_in_gms        6598 non-null   int64
dtypes: int64(6), object(5)
memory usage: 567.1+ KB

In [28]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6598 entries, 0 to 6597
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   6598 non-null   int64
 1   Reached.on.Time_Y.N  6598 non-null   int64
dtypes: int64(2)
memory usage: 103.2 KB

In [29]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4401 entries, 0 to 4400
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   4401 non-null   int64
 1   Warehouse_block      4401 non-null   object
 2   Mode_of_Shipment     4401 non-null   object
 3   Customer_care_calls  4401 non-null   object
 4   Customer_rating      4401 non-null   int64
 5   Cost_of_the_Product  4401 non-null   int64
 6   Prior_purchases      4401 non-null   int64
 7   Product_importance   4401 non-null   object
 8   Gender               4401 non-null   object
 9   Discount_offered     4401 non-null   int64
 10  Weight_in_gms        4401 non-null   int64
dtypes: int64(6), object(5)
memory usage: 378.3+ KB

In [30]:
train.isnull().sum()

ID                     0
Warehouse_block        0
Mode_of_Shipment       0
Customer_care_calls    0
Customer_rating        0
Cost_of_the_Product    0
Prior_purchases        0
Product_importance     0
Gender                 0
Discount_offered       0
Weight_in_gms          0
dtype: int64

In [31]:
test.isnull().sum()

ID                     0
Warehouse_block        0
Mode_of_Shipment       0
Customer_care_calls    0
Customer_rating        0
Cost_of_the_Product    0
Prior_purchases        0
Product_importance     0
Gender                 0
Discount_offered       0
Weight_in_gms          0
dtype: int64

In [32]:
for col in train.columns:
    print(f'unique of {col} :', train[col].unique())

unique of ID : [6045   44 7940 ... 5150 3950 5969]
unique of Warehouse_block : ['A' 'F' 'C' 'B' 'D']
unique of Mode_of_Shipment : ['Flight' 'Ship' 'Road']
unique of Customer_care_calls : ['4' '3' '5' '6' '2' '$7']
unique of Customer_rating : [3 1 2 5 4]
unique of Cost_of_the_Product : [266 174 154 158 175 139 220 160 145 155 226 256 204 207 274 251 267 166
 201 303 176 270 258 133 190 277 143 273 285 209 189 167 261 216 254 246
 295 229 219 245 247 215 223 164 249 217 173 149 232 181 235 150 198 144
 234 141 222 135 179 263 188 260 243 156 187 287 244 100 196 265 259 255
 151 199 257 233 224 182 252 205 248 241 162 221 184  98 211 269 183 147
 206 116 282 140 153 208 230 227 170 168 293 191 239 228 146  99 157 253
 238 280 218 152 137 214 161 305 250 115 210 242 291 225 193 202 200 275
 105 236 142 231 262 264 276 203 185 172 237 192 163 171 180 159 186 178
 240 268 213 310 290 302 134 132 195 272 169 138 102 194 296 112 197 117
 294 165 129 103 292 281 278 148 128 301 212 271 306 123 118 108 136 279
 121 177  96 110 286 283 308 299 101 126 289 284  97 114 106 122 297 111
 113 298 104 307 288 130 125 124 127 304 300 119 109 309 131 120 107]
unique of Prior_purchases : [ 5  2 10  3  4  6  7  8]
unique of Product_importance : ['high' 'low' 'medium']
unique of Gender : ['F' 'M']
unique of Discount_offered : [ 5 44 10 27  7 17  4  9  3  6 20  8 48 37 12 49  1 32  2 22 45 16 13 43
 63 18 58 47 14 42 50 23 33 61 29 51 21 25 35 65 36 55 40 60 59 38 54 39
 46 57 56 34 19 64 62 31 53 52 15 41 11 24 30 28 26]
unique of Weight_in_gms : [1590 1556 5674 ... 4684 2148 1513]

In [33]:
for col in test.columns:
    print(f'unique of {col} :', test[col].unique())

unique of ID : [ 6811  4320  5732 ... 10395  3646   573]
unique of Warehouse_block : ['D' 'F' 'C' 'A' 'B']
unique of Mode_of_Shipment : ['Ship' 'Road' 'Flight']
unique of Customer_care_calls : ['5' '3' '4' '6' '$7' '2']
unique of Customer_rating : [2 5 4 1 3]
unique of Cost_of_the_Product : [259 133 191 221 230 254 250 273 253 249 255 218 144 177 260 252 199 198
 192 257 244 286 206 236 140 183 215 145 195 167 193 205 127 231 222 291
 170 233 266 182 208 155 241 139 156 209 184 143 239 217 174 276 242 169
 309 248 165 240 110 211 154 262 226 176 268 102 269 166 202 264 178 200
 187 261 223 274 214 232 141 235 190 229 149 164 168 263 185 270 243 153
 219 283 305 201 152 245 304 251 162 292 147 159 246 146 234 109 189 228
 271 247 197 256 204 117 134 100 216 279 142 180 112 287 105 136 265 194
 282 113 272 161 213 275 220 238 179 104 258 129 157 151 212 237 150 285
 138 148 307 296 196 111 181 306 172 225 278 188 171 163 132 160 267 224
 135 116 175 300 227 294 301 158 173 118 284 298 280 101 137 186 210 103
 207 310 295 125 289 107 308 124 123 203  96 120 303 121 277 299 290 281
 106 114 293  98 115  97 130 131 119 288 128  99 126 302 297 108]
unique of Prior_purchases : [ 5  3  2  6  4  8  7 10]
unique of Product_importance : ['low' 'medium' 'high']
unique of Gender : ['F' 'M']
unique of Discount_offered : [ 7  4 10 38  5  2  8  1  6 36 32 65  3 21 47 43 52 16 63 33  9 55 12 45
 39 28 15 23 18 13 59 30 37 58 35 48 26 27 54 24 42 50 46 19 64 17 40 22
 44 56 60 53 41 31 61 57 49 29 11 34 62 20 51 14 25]
unique of Weight_in_gms : [1032 5902 4243 ... 1216 3715 5536]

In [34]:
for col in y.columns:
    print(f'unique of {col} :', y[col].unique())

unique of ID : [6045   44 7940 ... 5150 3950 5969]
unique of Reached.on.Time_Y.N : [0 1]

In [35]:
# 데이터 정리
# ID : id
# Warehouse_block : 범주형-명목형. 원핫인코딩
# Mode_of_Shipment : 범주형-명목형. 원핫인코딩
# Customer_care_calls : 범주형-명목형. 원핫인코딩
# Customer_rating : 범주형-순서형
# Cost_of_the_Product : 수치형-이산형
# Prior_purchases : 수치형-이산형
# Product_importance : 범주형-순서형. 숫자 매핑
# Gender : 범주형-명목형. 이진데이터. 오디널 인코딩
# Discount_offered : 수치형-이산형
# Weight_in_gms : 수치형-이산형
# Reached.on.Time_Y.N : 범주형-명목형. 타겟 데이터

In [36]:
# 데이터 분리
X = train.drop('ID', axis=1)
y = y.drop('ID', axis=1)
test_id = test.pop('ID')

In [37]:
# 원핫인코딩
X = pd.get_dummies(X)
test = pd.get_dummies(test)

In [38]:
# 학습 데이터 - 검증 데이터 분리
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(X, y, stratify=y)

In [39]:
# 모델 학습
from sklearn.ensemble import RandomForestClassifier

random_state = 42
model = RandomForestClassifier(random_state=random_state)
model.fit(X_train, y_train)

C:\Users\dudejr\anaconda3\envs\kaggle\lib\site-packages\ipykernel_launcher.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestClassifier(random_state=42)

In [40]:
# 검증 데이터 추론
pred_val = model.predict(X_val)

In [41]:
# 검증 데이터 평가
from sklearn.metrics import f1_score

f1score = f1_score(y_val, pred_val)
print('f1score :', f1score)

f1score : 0.6904109589041098

In [42]:
# 테스트 데이터 추론
pred_test = model.predict(test)

In [43]:
# 제출
submission = pd.DataFrame({'ID': test_id, 'Reached.on.Time_Y.N': pred_test})
submission.to_csv('0000.csv', index=False)

# 작업 3유형

## 3-1

In [44]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e2_p3_1.csv')
df.head(5)

     fish   height
0  fish_1  33.74cm
1  fish_2  31.64cm
2  fish_3  27.49cm
3  fish_4  31.43cm
4  fish_5  27.56cm

### 3-1-a
122마리의 height 평균값을 m(미터) 단위로 소숫점 이하 5자리까지 실수 값만  출력하라

In [45]:
df['height'] = df['height'].str.replace('cm', '').astype(float)
ans = round(df['height'].mean() * 0.01, 5)
print(ans)

0.29951

### 3-1-b
모집단의 평균 길이가 30cm 인지 확인하려 일표본 t 검정을 시행하여 확인하려한다. 검정통계량을 소숫점 이하 3째자리까지 구하여라

### 일표본 t 검정(One-Sample t-test)
- 모집단의 평균에 대한 추정이나 비교를 목적
- 주로 모집단의 평균이 어떤 특정한 값과 같은지를 검정하는 데 사용
- 귀무가설 (H0) : 모집단의 평균은 X이다.
- 대립가설 (H1) : 모집단의 평균은 X가 아니다.

In [46]:
from scipy.stats import ttest_1samp

s, p_value = ttest_1samp(df['height'], 30)
ans = round(s, 3)
print('일표본 t 검정 통계량:', ans)

일표본 t 검정 통계량: -0.217

### 3-1-c
위의 통계량에 대한 p-값을 구하고 (반올림하여 소숫점 이하 3째자리), 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 가설을 하나를 선택하시오(귀무/대립)

In [47]:
print('p-value:', round(p_value, 3))

alpha = 0.05

if p_value < alpha:
    print('대립가설 채택: 모집단의 평균 길이가 30cm가 아니다.')
else:
    print('귀무가설 채택: 모집단의 평균 길이가 30cm이다.')

p-value: 0.829
귀무가설 채택: 모집단의 평균 길이가 30cm이다.

## 3-2
조사결과 70%의 성인 남성이 3년 동안에 적어도 1번 치과를 찾는다고 할때, 21명의 성인 남성이 임의로 추출되었다고 하자.

### 3-2-a
21명 중 16명 미만이 치과를 찾았을 확률(반올림하여 소숫점 이하 3자리)

### 이항분포
- 이항분포는 베르누이 시행을 여러 번 반복하여 발생한 성공 횟수에 대한 확률 분포를 나타냄
- 확률 질량 함수(PMF: Probability Mass Function)
    - 성공 확률이 p이고 시행 횟수가 n일 때 성공 횟수가 <U>k일 확률</U> 계산
- 누적 분포 함수(CDF: Cumulative Distribution Funtion)
    - 성공 확률이 p이고 시행 횟수가 n일 때 성공 횟수가 <U>k 이하일 확률</U> 계산

In [48]:
from scipy.stats import binom

n = 21  # 시행 횟수
p = 0.7  # 성공 확률
k = 15  # 성공 횟수

prob = binom.cdf(k, n, p)
print(round(prob, 3))

0.637

### 3-2-b
적어도 19명이 치과를 찾았을 확률(반올림하여 소숫점 이하 3자리)

In [49]:
from scipy.stats import binom

In [50]:
n = 21  # 시행 횟수
p = 0.7  # 성공 확률
k = 18  # 성공 횟수

prob = 1 - binom.cdf(k, n, p)  # 전체 확률에서 18명 이하가 치과를 찾았을 확률을 뺌
print(round(prob, 3))

0.027