# 작업 1유형

## 1-1
결측치가 하나라도 존재하는 행의 경우 경우 해당 행을 삭제하라. 그후 남은 데이터의 상위 70%에 해당하는 데이터만 남겨둔 후 median_income 컬럼의 1분위수를 반올림하여 소숫점이하 2째자리까지 구하여라

In [122]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_1.csv')
df.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [123]:
df.shape

(20640, 10)

In [124]:
df.dropna(inplace=True)

In [125]:
ans = round(df[: int(df.shape[0] * 0.7)]['median_income'].quantile(0.25), 2)
print(ans)

2.51

## 1-2
1990년도는 해당년도 평균 이하 GDP를 가지지만, 2010년도에는 해당년도 평균 이상 GDP를 가지는 국가의 숫자를 구하여라

In [126]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_2.csv')
df.head()

  Country Name Country Code  Year      Value
0   Arab World          ARB  1968  2576068.3
1   Arab World          ARB  1969  2843420.4
2   Arab World          ARB  1970  3138550.0
3   Arab World          ARB  1971  3642691.0
4   Arab World          ARB  1972  4331605.7

In [127]:
df_1990 = df[df['Year'] == 1990]
df_2010 = df[df['Year'] == 2010]

In [128]:
df_1990 = df_1990[df_1990['Value'] <= df_1990['Value'].mean()]
df_2010 = df_2010[df_2010['Value'] >= df_2010['Value'].mean()]

In [129]:
set_1990 = set(df_1990['Country Code'])
set_2010 = set(df_2010['Country Code'])

In [130]:
ans = len(set_1990.intersection(set_2010))
print(ans)

5

## 1-3
데이터에서 결측치가 가장 많은 컬럼을 출력하라

In [131]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p1_3.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S
1,2,1,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C
2,3,1,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,C85,S
3,4,1,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S
4,5,0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450,8.0500,C123,S

In [132]:
df.isnull().sum().idxmax()

'Fare'

# 작업 2유형
종속 변수 : TravelInsurance , TravelInsurance가 1일 확률을 구해서 제출하라. 평가지표 : auc
제출 파일의 컬럼은 ID, proba 두개만 존재해야한다.

In [133]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_train_.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_test_.csv')
train.head()

,ID,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,1008,26,Private Sector/Self Employed,Yes,1400000,5,0,No,Yes,1
1,199,30,Private Sector/Self Employed,No,1450000,5,0,Yes,Yes,1
2,86,32,Government Sector,Yes,900000,4,0,No,No,0
3,560,26,Private Sector/Self Employed,Yes,1400000,7,0,No,Yes,1
4,161,34,Private Sector/Self Employed,No,1400000,3,1,No,Yes,1

In [134]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1490 non-null   int64
 1   Age                  1490 non-null   int64
 2   Employment Type      1490 non-null   object
 3   GraduateOrNot        1490 non-null   object
 4   AnnualIncome         1490 non-null   int64
 5   FamilyMembers        1490 non-null   int64
 6   ChronicDiseases      1490 non-null   int64
 7   FrequentFlyer        1490 non-null   object
 8   EverTravelledAbroad  1490 non-null   object
 9   TravelInsurance      1490 non-null   int64
dtypes: int64(6), object(4)
memory usage: 116.5+ KB

In [135]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   497 non-null    int64
 1   Age                  497 non-null    int64
 2   Employment Type      497 non-null    object
 3   GraduateOrNot        497 non-null    object
 4   AnnualIncome         497 non-null    int64
 5   FamilyMembers        497 non-null    int64
 6   ChronicDiseases      497 non-null    int64
 7   FrequentFlyer        497 non-null    object
 8   EverTravelledAbroad  497 non-null    object
dtypes: int64(5), object(4)
memory usage: 35.1+ KB

In [136]:
for col in train.columns:
    print(f'unique of {col}:', train[col].unique())

unique of ID: [1008  199   86 ... 1124 1356 1686]
unique of Age: [26 30 32 34 29 28 33 31 27 25 35]
unique of Employment Type: ['Private Sector/Self Employed' 'Government Sector']
unique of GraduateOrNot: ['Yes' 'No']
unique of AnnualIncome: [1400000 1450000  900000 1500000 1100000  700000 1200000  500000 1350000
  550000 1300000 1150000  800000  850000 1750000  750000  600000  400000
  300000  350000 1050000 1000000  950000 1250000  650000 1700000 1650000
 1800000  450000 1550000]
unique of FamilyMembers: [5 4 7 3 8 6 2 9]
unique of ChronicDiseases: [0 1]
unique of FrequentFlyer: ['No' 'Yes']
unique of EverTravelledAbroad: ['Yes' 'No']
unique of TravelInsurance: [1 0]

In [137]:
for col in test.columns:
    print(f'unique of {col}:', test[col].unique())

unique of ID: [   6    9   20   21   23   24   29   31   34   35   53   61   62   64
   71   75   76   77   78   87   88   93   95   98  100  104  107  108
  120  125  126  129  134  138  150  152  155  156  159  164  165  170
  175  176  177  179  180  181  185  187  189  191  194  198  200  203
  206  207  211  212  221  228  229  236  243  244  247  249  252  253
  256  257  265  271  274  284  286  288  297  303  306  312  314  328
  333  336  337  338  342  345  350  356  357  367  377  378  386  391
  395  397  398  406  408  410  414  417  420  421  425  429  431  437
  439  445  447  448  456  461  462  463  465  466  468  470  472  473
  474  478  480  481  488  489  491  496  499  500  503  510  514  515
  536  540  550  553  554  555  563  564  573  574  577  580  585  586
  594  596  601  609  612  616  626  627  629  632  645  647  650  657
  665  669  676  677  690  702  708  714  716  718  719  722  724  727
  733  736  739  740  743  751  752  760  762  767  769  770  772  774
  775  782  786  792  794  800  802  804  808  809  811  813  816  823
  841  843  849  853  854  856  861  864  866  868  873  880  881  885
  892  893  896  902  907  913  915  922  923  929  930  932  933  936
  941  943  947  956  964  969  970  972  975  979  981  988  993  994
  997  998 1009 1014 1015 1019 1020 1028 1031 1033 1038 1049 1050 1053
 1066 1077 1083 1086 1091 1093 1095 1107 1112 1114 1129 1132 1138 1139
 1140 1143 1149 1160 1164 1166 1167 1171 1172 1174 1179 1182 1184 1187
 1190 1191 1192 1197 1199 1202 1203 1207 1208 1209 1211 1215 1222 1227
 1228 1230 1237 1251 1256 1258 1259 1271 1275 1283 1285 1286 1288 1290
 1297 1302 1309 1311 1318 1326 1327 1328 1329 1333 1334 1342 1343 1344
 1348 1350 1351 1360 1364 1371 1373 1375 1379 1382 1386 1387 1390 1392
 1403 1408 1409 1411 1413 1419 1422 1423 1427 1430 1433 1436 1442 1447
 1449 1454 1457 1458 1466 1468 1474 1478 1480 1486 1487 1493 1501 1508
 1510 1514 1517 1523 1526 1529 1530 1536 1540 1543 1547 1549 1557 1566
 1572 1578 1579 1584 1585 1586 1591 1593 1595 1597 1613 1614 1617 1618
 1628 1633 1634 1635 1640 1642 1646 1653 1658 1662 1666 1668 1669 1672
 1674 1675 1677 1678 1679 1683 1698 1707 1708 1717 1723 1726 1730 1734
 1736 1738 1744 1750 1753 1754 1756 1758 1762 1763 1764 1766 1768 1773
 1775 1782 1788 1793 1794 1795 1801 1803 1807 1808 1817 1819 1821 1825
 1830 1832 1838 1845 1855 1862 1865 1873 1876 1877 1880 1881 1884 1886
 1888 1890 1899 1901 1903 1906 1916 1919 1922 1923 1924 1925 1931 1933
 1961 1962 1964 1970 1973 1976 1982]
unique of Age: [31 33 28 29 32 30 34 26 27 25 35]
unique of Employment Type: ['Government Sector' 'Private Sector/Self Employed']
unique of GraduateOrNot: ['Yes' 'No']
unique of AnnualIncome: [1300000  800000 1150000  350000  600000 1500000  900000  300000 1400000
 1450000  750000 1200000  400000 1050000  700000 1100000  850000  500000
  650000 1000000 1350000 1250000  450000  550000  950000 1550000 1700000
 1750000]
unique of FamilyMembers: [4 3 6 9 7 2 5 8]
unique of ChronicDiseases: [0 1]
unique of FrequentFlyer: ['No' 'Yes']
unique of EverTravelledAbroad: ['No' 'Yes']

In [138]:
# train 결측치 확인
train.isnull().sum()

ID                     0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
TravelInsurance        0
dtype: int64

In [139]:
# test 결측치 확인
test.isnull().sum()

ID                     0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
dtype: int64

In [140]:
# 데이터 정리
# ID : id
# Age : 수치형-이산형
# Employment Type : 범주형-명목형. 이진데이터. 레이블인코딩 필요
# GraduateOrNot : 범주형-명목형. 이진데이터. 레이블인코딩 필요
# AnnualIncome : 수치형-연속형. min-max 정규화 필요
# FamilyMembers : 수치형-이산형. 
# ChronicDiseases : 범주형-명목형. 이진데이터.
# FrequentFlyer : 범주형-명목형. 이진데이터. 레이블인코딩 필요
# EverTravelledAbroad : 범주형-명목형. 이진데이터.레이블인코딩 필요
# TravelInsurance : 타켓변수, 범주형-명목형

In [141]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score

random_state = 42

### sol1

In [142]:
# 데이터 분리
X = train.drop(['ID', 'TravelInsurance'], axis=1)
y = train['TravelInsurance']
test_id = test.pop('ID')

In [143]:
# 원핫 인코딩

X = pd.get_dummies(X)
print(X.shape)
test = pd.get_dummies(test)
print(test.shape)

(1490, 12)
(497, 12)

In [144]:
# 학습 데이터 / 검증 데이터 분리
X_train, X_val, y_train, y_val = train_test_split(X, y, stratify=y, random_state=random_state)

# 학습
model = RandomForestClassifier(random_state=random_state)
model.fit(X_train, y_train)

# 검증 데이터 추론
pred_val = model.predict_proba(X_val)[:, 1]

# 검증 데이터 평가
score_val = roc_auc_score(y_val, pred_val)
print('roc_auc :', score_val)

# 테스트 데이터 추론
pred_test = model.predict_proba(test)[:, 1]

# 제출
submission = pd.DataFrame({'ID': test_id, 'proba': pred_test})
submission.to_csv('00000.csv', index=False)

roc_auc : 0.7457550125313283

### sol2

In [145]:
# 데이터 정리
# ID : id
# Age : 수치형-이산형
# Employment Type : 범주형-명목형. 이진데이터. 오디널인코딩 필요
# GraduateOrNot : 범주형-명목형. 이진데이터. 오디널인코딩 필요
# AnnualIncome : 수치형-연속형. min-max 정규화 필요
# FamilyMembers : 수치형-이산형. 
# ChronicDiseases : 범주형-명목형. 이진데이터.
# FrequentFlyer : 범주형-명목형. 이진데이터. 오디널인코딩 필요
# EverTravelledAbroad : 범주형-명목형. 이진데이터. 오디널인코딩 필요
# TravelInsurance : 타켓변수, 범주형-명목형

In [146]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_train_.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p2_test_.csv')
train.head()

,ID,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,1008,26,Private Sector/Self Employed,Yes,1400000,5,0,No,Yes,1
1,199,30,Private Sector/Self Employed,No,1450000,5,0,Yes,Yes,1
2,86,32,Government Sector,Yes,900000,4,0,No,No,0
3,560,26,Private Sector/Self Employed,Yes,1400000,7,0,No,Yes,1
4,161,34,Private Sector/Self Employed,No,1400000,3,1,No,Yes,1

In [147]:
X = train.drop(['ID', 'TravelInsurance'], axis=1)
y = train['TravelInsurance']
test_id = test.pop('ID')

In [148]:
# 오디널 인코딩 - 범주형-명목형이면서 이진데이터일 경우 사용
from sklearn.preprocessing import OrdinalEncoder

od = OrdinalEncoder()
trg_columns = ['Employment Type', 'GraduateOrNot', 'FrequentFlyer', 'EverTravelledAbroad']
X[trg_columns] = od.fit_transform(X[trg_columns])
test[trg_columns] = od.transform(test[trg_columns])

In [149]:
# # Min-Max 정규화
# from sklearn.preprocessing import MinMaxScaler

# scaler = MinMaxScaler()
# X['AnnualIncome'] = scaler.fit_transform(X['AnnualIncome'].to_numpy().reshape(-1, 1))

In [150]:
# 학습 데이터 / 검증 데이터 분리
X_train, X_val, y_train, y_val = train_test_split(X, y, stratify=y, random_state=random_state)

# 학습
# from xgboost import XGBClassifier
# from lightgbm import LGBMClassifier
# model = LGBMClassifier()
# model = XGBClassifier(random_state=random_state)
model = RandomForestClassifier(random_state=random_state)
# from catboost import CatBoostClassifier
# model = CatBoostClassifier(verbose=False)
model.fit(X_train, y_train)

# 검증 데이터 추론
pred_val = model.predict_proba(X_val)[:, 1]

# 검증 데이터 평가
score_val = roc_auc_score(y_val, pred_val)
print('roc_auc :', score_val)

# 테스트 데이터 추론
pred_test = model.predict_proba(test)[:, 1]

# 제출
submission = pd.DataFrame({'ID': test_id, 'proba': pred_test})
submission.to_csv('00000.csv', index=False)

roc_auc : 0.7482299498746868

# 작업 3유형

### 가설 설정 기준
- 귀무가설 (H0) : 현 상태나 기본적인 가정, 변화가 없다는 가정, 즉 "차이가 없다"거나 "효과가 없다"는 가정
- 대립가설 (H1) : 새로운 상태나 변화가 있다는 가정, 즉 "차이가 있다"거나 "효과가 있다"는 가정

### 카이제곱 검정(Chi-squared Test)
- 관찰된 빈도와 기대 빈도 사이의 차이를 평가하는 데 사용
- 귀무가설 : 관찰된 빈도와 기대 빈도 사이에 차이가 없다.
- 대립가설 : 관찰된 빈도와 기대 빈도 사이에 차이가 있다.

## 3-1
투약 후 체중에서 투약 전 체중을 뺏을 때 값은 일반 적으로 세가지 등급으로 나눈다. -3이하 : A등급, -3초과 0이하 : B등급, 0 초과 : C등급. 약 실험에서 A,B,C 그룹간의 인원 수 비율은 2:1:1로 알려져 있다. 위 데이터 표본은 각 범주의 비율에 적합한지 카이제곱 검정하려한다.

In [151]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_1.csv')
df.head()

       ID     투약전     투약후
0  user_1  55.137  56.106
1  user_2  66.584  60.409
2  user_3  52.259  50.639
3  user_4  77.081  69.164
4  user_5  62.677  57.622

### 3-1-a
A등급에 해당하는 유저는 몇명인지 확인하라

In [152]:
df['등급'] = df['투약후'] - df['투약전']

In [153]:
def convert_grade(x):
    if x > 0:
        return 'C'
    elif -3 < x <= 0:
        return 'B'
    else:
        return 'A'

df['등급'] = df['등급'].apply(convert_grade)

In [154]:
ans = df[df['등급'] == 'A'].shape[0]
print(ans)

121

### 3-1-b
카이제곱검정 통계량을 반올림하여 소숫점 이하 3째자리까지 구하여라

In [155]:
observed = df['등급'].value_counts().to_list()

In [156]:
observed

[121, 67, 47]

In [157]:
expected = [df.shape[0] * 0.5, df.shape[0] * 0.25, df.shape[0] * 0.25]
expected

[117.5, 58.75, 58.75]

In [158]:
from scipy.stats import chisquare

In [159]:
chi2, p_value = chisquare(observed, expected)

In [160]:
ans = round(chi2, 3)
print(ans)

3.613

### 3-1-c
카이제곱 검정 p값을 반올림하여 소숫점 이하 3자리까지 구하고, 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 가설을 하나를 선택하시오(귀무/대립)

In [169]:
ans = round(p_value, 3)
print('p-value:', ans)

alpha = 0.05

if p_value < alpha:
    print('대립가설 채택 : 관찰된 빈도는 기대된 비율 2:1:1과 다르다.')
    print("표본 데이터가 주어진 기대 비율과 통계적으로 유의미한 차이가 있다.")
else:
    print('귀무가설 채택 : 관찰된 빈도는 기대된 비율 2:1:1과 다르지 않다.')
    print("표본 데이터가 주어진 기대 비율과 통계적으로 유의미한 차이가 없다.")

p-value: 0.009
대립가설 채택 : 관찰된 빈도는 기대된 비율 2:1:1과 다르다.
표본 데이터가 주어진 기대 비율과 통계적으로 유의미한 차이가 있다.

## 3-2
A,B 공장에서 생산한 기계들의 rpm 값들을 기록한 데이터이다. 대응 표본 t 검정을 통해 B공장 제품들이 A 공장 제품들보다 rpm이 높다고 말할 수 있는지 검정하려한다

In [162]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e3_p3_2_.csv')
df.head()

     rpm group
0  163.6     A
1  246.9     A
2  234.9     A
3  156.9     A
4  226.6     A

### 3-2-a
A,B 공장 각각 정규성을 가지는지(정규 분포를 따르는지) 샤피로 검정을 통해 확인하라. (각 공장의 pvalue 출력할 것)

### Shapiro-Wilk 검정
- 데이터가 정규 분포를 따르는지 평가하기 위한 통계적 검정 방법
- 특히 표본 크기가 50 미만처럼 작을 때 유용
- 귀무 가설 (H0): 데이터가 정규 분포를 따른다.
- 대립 가설 (H1): 데이터가 정규 분포를 따르지 않는다.

In [163]:
from scipy.stats import shapiro

In [164]:
a = df[df['group'] == 'A']['rpm']
b = df[df['group'] == 'B']['rpm']

s, a_pvalue = shapiro(a)
s, b_pvalue = shapiro(b)

alpha = 0.05

print('A 공장 p-value :', a_pvalue)
print('B 공장 p-value :', b_pvalue)

if a_pvalue < alpha:
    print('대립가설 채택 : A공장 데이터가 정규 분포를 따르지 않는다.')
else:
    print('귀무가설 채택 : A공장 데이터가 정규 분포를 따른다.')

if b_pvalue < alpha:
    print('대립가설 채택 : B공장 데이터가 정규 분포를 따르지 않는다.')
else:
    print('귀무가설 채택 : B공장 데이터가 정규 분포를 따른다.')

A 공장 p-value : 0.397915244102478
B 공장 p-value : 0.9562830924987793
귀무가설 채택 : A공장 데이터가 정규 분포를 따른다.
귀무가설 채택 : B공장 데이터가 정규 분포를 따른다.

### 3-2-b
A,B 공장이 등분산성을 가지는지 검정을 통해 확인하라.

#### 등분산성 검정
- 두 개 이상의 그룹이나 조건 간에 데이터의 분산 동일한지 검정
- 귀무 가설 (H0): 모든 그룹 또는 조건의 분산이 동일하다.
- 대립 가설 (H1): 적어도 하나의 그룹 또는 조건의 분산이 다르다.
- **레베인 테스트(Levene`s test)**
    - 데이터가 정규분포를 따르지 않더라도 사용할 수 있는 비모수적 검정 방법
- **바틀렛츠 테스트(Bartlett`s test)**
    - 데이터가 정규분포를 따른다고 가정하고 사용하는 검정 방법
    - 정규성을 가정하기 때문에 데이터가 정규 분포를 따를 때 더 적합
- 등분산성을 검정 하는 이유?
    - 예를 들어, 분산 분석(ANOVA)에서 그룹 간의 평균 차이를 비교할 때, 그룹 간의 분산이 동일하다고 가정하는 것이 일반적이다. 만약 등분산성이 충족되지 않은 상태에서 분산 분석 수행 시 잘못된 결론에 이를 수 있다.
        - F-통계량의 정확성: ANOVA는 등분산성을 가정하고 있기 때문에, 그룹 간의 분산이 동일하다는 가정이 위배될 경우 F-통계량의 정확성이 떨어질 수 있습니다. 이는 그룹 간의 평균 차이를 평가하는데 영향을 줄 수 있습니다.
        - Type I 오류의 증가: 등분산성이 충족되지 않은 상태에서 ANOVA를 수행하면, 실제로는 그룹 간에 유의미한 차이가 없음에도 불구하고 잘못된 유의미성을 감지할 수 있는 위험이 있습니다. 즉, Type I 오류(귀무 가설이 참일 때 기각하는 오류)의 발생 가능성이 증가합니다.

        - 신뢰구간의 부정확성: 등분산성이 충족되지 않으면 ANOVA에서 계산된 신뢰구간도 부정확해질 수 있습니다. 이는 그룹 간 차이의 범위를 추정하는 데 문제가 발생할 수 있음을 의미합니다.

    - 따라서, 등분산성을 충족하지 않는 경우 ANOVA를 진행하기 전에 다른 방법을 고려하는 것이 중요합니다. 이런 경우에는
        - 등분산성을 가정하지 않는 분산 분석 방법(예: Welch's ANOVA)을 사용할 수 있습니다. 이 방법은 등분산성을 가정하지 않고도 그룹 간 평균 차이를 비교할 수 있는 방법을 제공합니다.

        - 비모수적 검정 방법(예: Kruskal-Wallis 검정)을 사용할 수도 있습니다. 비모수적 방법은 데이터의 분포에 대한 가정이 적은 경우에 유용합니다.

In [165]:
# levene`s test
from scipy.stats import levene
s, p_value = levene(a, b)

ans = round(p_value, 3)
print(ans)

alpha = 0.05

if p_value < alpha:
    print('대립가설 채택: 적어도 하나의 그룹 또는 조건의 분산이 다르다.')
else:
    print('귀무가설 채택: 모든 그룹 또는 조건의 분산이 동일하다.')

0.904
귀무가설 채택: 모든 그룹 또는 조건의 분산이 동일하다.

In [166]:
# bartlett`s test
from scipy.stats import bartlett
s, p_value = bartlett(a, b)

ans = round(p_value, 3)
print(ans)

alpha = 0.05

if p_value < alpha:
    print('대립가설 채택: 적어도 하나의 그룹 또는 조건의 분산이 다르다.')
else:
    print('귀무가설 채택: 모든 그룹 또는 조건의 분산이 동일하다.')

0.893
귀무가설 채택: 모든 그룹 또는 조건의 분산이 동일하다.

### 3-2-c
대응 표본 t 검정을 통해 B공장 제품들의 rpm이 A 공장 제품의 rpm보다 크다고 말할 수 있는지 검정하라. pvalue를 소숫점 이하 3자리까지 출력하고 귀무가설, 대립가설 중 하나를  출력하라

### 대응 표본 t 검정(related samples t-test)
- 같은 개체나 그룹에서 조건이나 처리를 변경하고 나서 얻은 두 관측 값 집단의 차이를 평가
- 귀무 가설 (H0): 두 집단의 평균 차이가 없다.
- 대립 가설 (H1): 두 집단의 평균 차이가 있다.
- 적용 예시
    - 약의 효과를 평가하기 위해 환자들에게 약을 투여하기 전후의 측정치 비교
    - 교육 프로그램이 학생들의 성적에 미치는 영향을 평가하기 위해 교육 전후의 성적을 비교
    - 새로운 기계가 생산성에 미치는 영향을 평가하기 위해 기계 도입 전후의 생산성 비교
- 주의사항
    - 대응 표본 t 검정을 사용하기 전에 데이터가 정규 분포를 따르는지 확인하는 것이 중요합니다. Shapiro-Wilk 검정 등의 정규성 검정을 수행 후 사용해야 합니다.
    - 데이터가 정규 분포를 따르지 않거나, 등분산성을 가정할 수 없는 경우에는 비모수적인 방법(Wilcoxon 검정)을 사용하는 것이 적절할 수 있습니다.

In [167]:
from scipy.stats import ttest_rel

In [168]:
t, p_value = ttest_rel(b, a, alternative='greater')
# t_statistic, p_value = ttest_rel(a, b, alternative='less')

ans = round(p_value, 3)
print('p-value:', ans)

alpha = 0.05

if p_value < alpha:
    print('대립가설 채택 : B공장 제품들의 rpm이 A 공장 제품의 rpm보다 크다.')
else:
    print('귀무가설 채택 : B공장 제품들의 rpm이 A 공장 제품의 rpm보다 작거나 같다.')

p-value: 0.009
대립가설 채택 : B공장 제품들의 rpm이 A 공장 제품의 rpm보다 크다.