# 작업 1유형

## 1-1
Temperature컬럼에서 숫자가 아닌 문자들을 제거후 숫자 타입으로 바꾸고 3분위수에서 1분위수의 차이를 소숫점 이하 2자리까지 구하여라

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_1.csv')
df.head(5)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.5,2.625,211.350143,8.106

In [2]:
df = df['Temperature'].str.replace('*', '').astype(float)

Q3 = df.quantile(0.75)
Q1 = df.quantile(0.25)
IQR = Q3 - Q1
ans = round(IQR, 2)
print(ans)

27.48

C:\Users\dudejr\anaconda3\envs\kaggle\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

## 1-2
Likes를 Comments로 나눈 비율이 20이상이면서 Keyword값이 minecraft인 영상들의 Views값의 평균을 정수로 구하여라

In [3]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_2.csv')
df.head(5)

,Title,Video ID,Published At,Keyword,Likes,Comments,Views
0,Apple Pay Is Killing the Physical Wallet After...,wAZZ-UWGVHI,2022-08-23,tech,3407.0,672.0,135612.0
1,The most EXPENSIVE thing I own.,b3x28s61q3c,2022-08-24,tech,76779.0,4306.0,1758063.0
2,My New House Gaming Setup is SICK!,4mgePWWCAmA,2022-08-23,tech,63825.0,3338.0,1564007.0
3,Petrol Vs Liquid Nitrogen | Freezing Experimen...,kXiYSI7H2b0,2022-08-23,tech,71566.0,1426.0,922918.0
4,Best Back to School Tech 2022!,ErMwWXQxHp0,2022-08-08,tech,96513.0,5155.0,1855644.0

In [4]:
cond1 = df['Likes'] / df['Comments'] >= 20
cond2 = df['Keyword'] == 'minecraft'

In [5]:
ans = int(df[cond1 & cond2]['Views'].mean())
print(ans)

1789084

## 1-3
date_added가 2018년 1월 이면서 country가 United Kingdom 단독 제작인 데이터의 갯수

In [6]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_3.csv')
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [7]:
df['date_added'] = pd.to_datetime(df['date_added'])

In [8]:
cond1 = df['date_added'].dt.strftime('%Y-%m') == '2018-01'

In [9]:
cond2 = df['country'] == 'United Kingdom'

In [10]:
df[cond1 & cond2].shape[0]

6

# 작업 2유형
예측 변수 Segmentation, test.csv에 대해 ID별로 Segmentation의 클래스를 예측해서 저장후 제출, 제출 데이터 컬럼은 ID와 Segmentation 두개만 존재해야함. 평가지표는 macro f1 score

In [11]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p2_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p2_test.csv')

display(train.head(2))
test.head(2)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,464357,Male,No,40,Yes,Artist,7.0,Low,1.0,Cat_6,A
1,459624,Male,No,18,No,Healthcare,NaN,Low,5.0,Cat_4,D

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,460406,Male,Yes,36,Yes,Healthcare,3.0,Low,2.0,Cat_6
1,466890,Male,Yes,47,Yes,Artist,0.0,Average,6.0,Cat_7

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4881 entries, 0 to 4880
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               4881 non-null   int64
 1   Gender           4881 non-null   object
 2   Ever_Married     4785 non-null   object
 3   Age              4881 non-null   int64
 4   Graduated        4830 non-null   object
 5   Profession       4817 non-null   object
 6   Work_Experience  4368 non-null   float64
 7   Spending_Score   4881 non-null   object
 8   Family_Size      4689 non-null   float64
 9   Var_1            4831 non-null   object
 10  Segmentation     4881 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 419.6+ KB

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1542 entries, 0 to 1541
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               1542 non-null   int64
 1   Gender           1542 non-null   object
 2   Ever_Married     1520 non-null   object
 3   Age              1542 non-null   int64
 4   Graduated        1526 non-null   object
 5   Profession       1519 non-null   object
 6   Work_Experience  1400 non-null   float64
 7   Spending_Score   1542 non-null   object
 8   Family_Size      1474 non-null   float64
 9   Var_1            1530 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 120.6+ KB

In [14]:
# train 고유값 확인
import numpy as np

for col in train.columns:
    print(f'unique of {col} :', train[col].unique())

unique of ID : [464357 459624 462672 ... 466118 460729 463270]
unique of Gender : ['Male' 'Female']
unique of Ever_Married : ['No' 'Yes' nan]
unique of Age : [40 18 25 46 27 65 47 43 45 33 55 75 32 68 52 56 50 37 31 35 61 30 49 66
 48 19 28 36 38 59 51 83 71 42 88 79 81 26 23 41 67 20 73 53 70 62 29 57
 22 69 63 80 21 39 60 58 84 76 87 72 89 85 77 86 74 82 78]
unique of Graduated : ['Yes' 'No' nan]
unique of Profession : ['Artist' 'Healthcare' 'Lawyer' 'Executive' nan 'Doctor' 'Homemaker'
 'Entertainment' 'Marketing' 'Engineer']
unique of Work_Experience : [ 7. nan  2.  1.  0.  9.  8.  3. 10.  4.  5. 11. 12. 14.  6. 13.]
unique of Spending_Score : ['Low' 'Average' 'High']
unique of Family_Size : [ 1.  5.  4.  3.  2. nan  6.  8.  9.  7.]
unique of Var_1 : ['Cat_6' 'Cat_4' 'Cat_7' 'Cat_3' 'Cat_1' nan 'Cat_2' 'Cat_5']
unique of Segmentation : ['A' 'D' 'B' 'C']

In [15]:
# test 고유값 확인

for col in test.columns:
    print(f'unique of {col} :', test[col].unique())

unique of ID : [460406 466890 466145 ... 465689 460401 465215]
unique of Gender : ['Male' 'Female']
unique of Ever_Married : ['Yes' nan 'No']
unique of Age : [36 47 56 50 31 63 57 28 43 22 35 27 62 53 33 23 29 18 55 60 37 59 30 61
 71 39 75 40 25 19 20 67 46 51 41 48 72 49 32 42 45 68 76 87 21 66 74 38
 84 58 69 73 52 26 78 89 77 85 80 70 83 81 65 79 82 88 86]
unique of Graduated : ['Yes' 'No' nan]
unique of Profession : ['Healthcare' 'Artist' 'Entertainment' 'Engineer' 'Doctor' 'Executive'
 'Lawyer' 'Homemaker' 'Marketing' nan]
unique of Work_Experience : [ 3.  0.  1. nan  8.  9.  2.  5.  6.  7.  4. 14. 10. 11. 12. 13.]
unique of Spending_Score : ['Low' 'Average' 'High']
unique of Family_Size : [ 2.  6.  3.  1.  4.  5.  9. nan  7.  8.]
unique of Var_1 : ['Cat_6' 'Cat_7' 'Cat_3' 'Cat_2' 'Cat_4' 'Cat_1' nan 'Cat_5']

In [16]:
train.isnull().sum()

ID                   0
Gender               0
Ever_Married        96
Age                  0
Graduated           51
Profession          64
Work_Experience    513
Spending_Score       0
Family_Size        192
Var_1               50
Segmentation         0
dtype: int64

In [17]:
# test 결측치 탐지
test.isnull().sum()

ID                   0
Gender               0
Ever_Married        22
Age                  0
Graduated           16
Profession          23
Work_Experience    142
Spending_Score       0
Family_Size         68
Var_1               12
dtype: int64

## 데이터 정리
- ID : ID
- Gender : 범주형-명목형.
- Ever_Married : 범주형-명목형. 결측치.
- Age : 수치형-연속형.
- Graduated : 범주형-명목형. 결측치
- Profession : 범주형-명목형. 결측치
- Work_Experience : 수치형-이산형. 결측치
- Spending_Score : 범주형-순서형. 숫자매핑
- Family_Size : 수치형-이산형. 결측치
- Var_1 : 범주형-명목형. 결측치

In [18]:
# 범주형 변수 결측치 대체 - 최빈값
Ever_Married_mode = train['Ever_Married'].mode()[0]
train['Ever_Married'].fillna(Ever_Married_mode, inplace=True)
test['Ever_Married'].fillna(Ever_Married_mode, inplace=True)

Graduated_mode = train['Graduated'].mode()[0]
train['Graduated'].fillna(Graduated_mode, inplace=True)
test['Graduated'].fillna(Graduated_mode, inplace=True)

Profession_mode = train['Profession'].mode()[0]
train['Profession'].fillna(Profession_mode, inplace=True)
test['Profession'].fillna(Profession_mode, inplace=True)

Var_1_mode = train['Var_1'].mode()[0]
train['Var_1'].fillna(Var_1_mode, inplace=True)
test['Var_1'].fillna(Var_1_mode, inplace=True)

In [19]:
# 수치형 변수 결측치 대체 - 중앙값
Work_Experience_median = train['Work_Experience'].median()
train['Work_Experience'].fillna(Work_Experience_median, inplace=True)
test['Work_Experience'].fillna(Work_Experience_median, inplace=True)

Family_Size_median = train['Family_Size'].median()
train['Family_Size'].fillna(Family_Size_median, inplace=True)
test['Family_Size'].fillna(Family_Size_median, inplace=True)

In [20]:
# 순서형 변수 숫자 매핑 - Spending_Score
dic = {
    'Low': 0,
    'Average': 1,
    'High': 2
}
train['Spending_Score'] = train['Spending_Score'].map(lambda x: dic[x])
test['Spending_Score'] = test['Spending_Score'].map(lambda x: dic[x])

In [21]:
train.isnull().sum().sum(), test.isnull().sum().sum()

(0, 0)

In [22]:
# 데이터 분리
X = train.drop(['ID', 'Segmentation'], axis=1)
y = train['Segmentation']
test_id = test.pop('ID')

In [23]:
# labelencoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [24]:
X = pd.get_dummies(X)
X.shape

(4881, 26)

In [25]:
test = pd.get_dummies(test)
test.shape

(1542, 26)

In [26]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(X, y)

In [27]:
# from sklearn.ensemble import RandomForestClassifier
# model = RandomForestClassifier()

from xgboost import XGBClassifier
model = XGBClassifier()

model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, objective='multi:softprob',
              predictor='auto', random_state=0, reg_alpha=0, ...)

In [28]:
pred_val = model.predict(X_val)

In [29]:
from sklearn.metrics import f1_score

f1 = f1_score(y_val, pred_val, average='macro')
print('f1 val:', f1)

f1 val: 0.42665870276363493

In [30]:
pred_test = model.predict(test)
pred_test= le.inverse_transform(pred_test)
pred_test

array(['D', 'C', 'C', ..., 'D', 'D', 'B'], dtype=object)

In [31]:
submission = pd.DataFrame({'ID': test_id, 'Segmentation': pred_test})
submission.to_csv('submission.csv', index=False)

# 작업 3유형

# 3-1

## 3-1-a
학과 평균 인원에 대한 값을 소숫점 이하 3자리까지 구하여라

In [76]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p3_1_.csv')
df.head()

         학번     학과 성별
0  DFSKJK_1   경영학과  여
1  DFSKJK_2   사회학과  여
2  DFSKJK_3  기계공학과  여
3  DFSKJK_4   경제학과  남
4  DFSKJK_5  기계공학과  여

In [53]:
ans = round(df.groupby('학과').size().mean(), 3)
print(ans)

170.333

## 3-1-b
카이제곱검정 독립성 검정 통계량을 소숫점 이하 3자리까지 구하여라

### 카이제곱 독립성 검정(Chi-squared Independence Test)
-  두 개 이상의 범주형 변수 사이의 독립성 여부를 평가하며, 두 변수가 서로 독립적인지 아니면 상관 관계가 있는지를 결정하는 데 사용
- 귀무가설 : 두 변수는 서로 독립적이다.
- 대립가설 : 두 변수는 서로 독립적이지 않다.(상관 관계가 있다.)

In [55]:
from scipy.stats import chi2_contingency

In [71]:
crosstab = pd.crosstab(df['학과'], df['성별'])
# corsstab = df.groupby(['학과', '성별']).size().unstack()

In [72]:
chi2, p_value, dof, expected = chi2_contingency(crosstab)

In [73]:
ans = round(chi2, 3)
print(ans)

5.646

## 3-1-c
카이제곱검정 독립성 검정의 pvalue를 소숫점 이하 3자리까지 구하여라. 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 것을  출력하라

In [58]:
p_value = round(p_value, 3)
print('p-value:', p_value)

alpha = 0.05

if p_value < alpha:
    print('대립가설 채택 : 두 변수 학과와 성별은 서로 독립적이지 않다.(상관관계가 있다.)')
else:
    print('귀무가설 채택 : 두 변수 학과와 성별은 서로 독립적이다.')

p-value: 0.041
대립가설 채택 : 두 변수 학과와 성별은 서로 독립적이지 않다.(상관관계가 있다.)

## 3-2
어느 학교에서 수학 시험을 본 학생 100명 중 60명이 60점 이상을 받았다. 이 학교의 수학 시험의 평균 점수가 50점 이상인지 95%의 신뢰 수준에서 검정하려한다

## 3-2-a
검정 통계량을 소숫점 이하 3자리에서 구하시오

In [113]:
import numpy as np
import scipy.stats as stats

In [120]:
# 귀무가설 : 수학 시험의 평균 점수가 50점 미만이다.
# 대립가설 : 수학 시험의 평균 점수가 50점 이상이다.


# 주어진 데이터
n = 100  # 학생 수
x = 60   # 60점 이상을 받은 학생 수

p_hat = x / n  # 샘플 비율 = 100명 중 60점 이상을 받은 학생 수의 비율
p = 50 / 100  # 귀무가설에서의 모집단 비율 50점 / 100점 = 0.5

# 검정 통계량
z = (p_hat - p) / np.sqrt(p * (1 - p) / n)

# Z 값 출력 (소수점 이하 3자리)
z = round(z, 3)
print('z-value :', z)

z-value : 2.0

## 3-2-b
pvalue를 소숫점 이하 3자리까지 구하고 귀무가설과 대립가설중 유의한 것을  출력하라

In [117]:
from scipy.stats import norm

In [119]:
p_value = round(1 - norm.cdf(z),3)
print('p-value:', p_value)

alpha = 0.05
if p_value < alpha:
    print("대립가설 채택: 평균 점수가 50점 이상이다.")
else:
    print("귀무가설 채택: 평균 점수가 50점 미만이다.")

p-value: 0.023
대립가설 채택: 평균 점수가 50점 이상이다.