# ì‘ì—… 1ìœ í˜•

## 1-1
20Lê°€ê²©ê³¼ 5Lê°€ê²©ì´ ëª¨ë‘ 0ì›ì´ ì•„ë‹Œ ë°ì´í„°ë§Œ í•„í„°ë¥¼ í•œ í›„, ê° rowë³„ë¡œ 20Lê°€ê²©ê³¼ 5Lê°€ê²©ì˜ ì°¨ì´ë¥¼ â€˜ì°¨ì´ê°€ê²©â€™ ì´ë¼ ë¶€ë¥¸ë‹¤ê³  í•˜ì. ì‹œë„ëª… ë³„ ì°¨ì´ê°€ê²©ì˜ í‰ê· ê°€ê²©ì„ ë¹„êµí• ë•Œ ê·¸ ê°’ì´ ê°€ì¥ í° ê¸ˆì•¡ì„ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ«ì  ì´í•˜ 1ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_1_.csv')
df.head(5)

,ì‹œë„ëª…,ì‹œêµ°êµ¬ëª…,ì¢…ëŸ‰ì œë´‰íˆ¬ì¢…ë¥˜,ì¢…ëŸ‰ì œë´‰íˆ¬ì²˜ë¦¬ë°©ì‹,ì¢…ëŸ‰ì œë´‰íˆ¬ìš©ë„,ì¢…ëŸ‰ì œë´‰íˆ¬ì‚¬ìš©ëŒ€ìƒ,1Lê°€ê²©,1.5Lê°€ê²©,2Lê°€ê²©,2.5Lê°€ê²©,...,60Lê°€ê²©,75Lê°€ê²©,100Lê°€ê²©,120Lê°€ê²©,125Lê°€ê²©,ê´€ë¦¬ë¶€ì„œëª…,ê´€ë¦¬ë¶€ì„œì „í™”ë²ˆí˜¸,ë°ì´í„°ê¸°ì¤€ì¼ì,ì œê³µê¸°ê´€ì½”ë“œ,ì œê³µê¸°ê´€ëª…
0,ê²½ê¸°ë„,ì•ˆì–‘ì‹œ,ê·œê²©ë´‰íˆ¬,ë§¤ë¦½ìš©,ìƒí™œì“°ë ˆê¸°,ì‚¬ì—…ì¥ìš©,0,0,0,0,...,0,2100,0,0,0,ìì›ìˆœí™˜ê³¼,031-8045-5448,2022-08-12,3830000,ê²½ê¸°ë„ ì•ˆì–‘ì‹œ
1,ê²½ê¸°ë„,ì•ˆì–‘ì‹œ,ê·œê²©ë´‰íˆ¬,ë§¤ë¦½ìš©,ìƒí™œì“°ë ˆê¸°,ê¸°íƒ€,0,0,0,0,...,0,2100,0,0,0,ìì›ìˆœí™˜ê³¼,031-8045-5448,2022-08-12,3830000,ê²½ê¸°ë„ ì•ˆì–‘ì‹œ
2,ê²½ê¸°ë„,ì•ˆì–‘ì‹œ,ê·œê²©ë´‰íˆ¬,ì†Œê°ìš©,ìŒì‹ë¬¼ì“°ë ˆê¸°,ê°€ì •ìš©,0,50,0,80,...,0,0,0,0,0,ìì›ìˆœí™˜ê³¼,031-8045-5448,2022-08-12,3830000,ê²½ê¸°ë„ ì•ˆì–‘ì‹œ
3,ê²½ê¸°ë„,ì•ˆì–‘ì‹œ,ê·œê²©ë´‰íˆ¬,ì†Œê°ìš©,ìŒì‹ë¬¼ì“°ë ˆê¸°,ì‚¬ì—…ì¥ìš©,0,50,0,80,...,0,0,0,0,0,ìì›ìˆœí™˜ê³¼,031-8045-5448,2022-08-12,3830000,ê²½ê¸°ë„ ì•ˆì–‘ì‹œ
4,ê²½ê¸°ë„,ì•ˆì–‘ì‹œ,ê·œê²©ë´‰íˆ¬,ì†Œê°ìš©,ìŒì‹ë¬¼ì“°ë ˆê¸°,ê¸°íƒ€,0,50,0,80,...,0,0,0,0,0,ìì›ìˆœí™˜ê³¼,031-8045-5448,2022-08-12,3830000,ê²½ê¸°ë„ ì•ˆì–‘ì‹œ

In [3]:
cond1 = df['20Lê°€ê²©'] != 0
cond2 = df['5Lê°€ê²©'] != 0
cond = cond1 & cond2

new_df = df[cond]

In [5]:
new_df['ì°¨ì´ê°€ê²©'] = new_df['20Lê°€ê²©'] - new_df['5Lê°€ê²©']

C:\Users\dudejr\anaconda3\envs\kaggle\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
# ì‹œë„ëª… ë³„ ì°¨ì´ê°€ê²©ì˜ í‰ê· ê°€ê²©ì„ ë¹„êµí• ë•Œ ê·¸ ê°’ì´ ê°€ì¥ í° ê¸ˆ
ans = new_df.groupby(by=['ì‹œë„ëª…'], as_index=False)['ì°¨ì´ê°€ê²©'].mean().sort_values(by='ì°¨ì´ê°€ê²©').iloc[-1]['ì°¨ì´ê°€ê²©']
print(round(ans, 1))

619.0

## 1-2
BMIëŠ” ëª¸ë¬´ê²Œ(kg) / (í‚¤(m) * í‚¤(m)) ë¡œ ì •ì˜ ëœë‹¤. ì´ˆê³ ë„ ë¹„ë§Œì€ BMI 25ì´ìƒ , ê³ ë„ ë¹„ë§Œì€ BMI 25ë¯¸ë§Œ - 23ì´ìƒ , ì •ìƒì€ 23ë¯¸ë§Œ - 18.5ì´ìƒ ì €ì²´ì¤‘ì€ 18.5ë¯¸ë§Œìœ¼ë¡œ ì •ì˜ ëœë‹¤. ì£¼ì–´ì§„ ë°ì´í„°ì—ì„œ ì´ˆê³ ë„ë¹„ë§Œ ì¸ì› + ì €ì²´ì¤‘ ì¸ì› ì˜ ìˆ«ìëŠ”?

In [22]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_2_.csv')
df.head(5)

       ID  height(cm)  weight(kg)
0  user_1       173.0        67.5
1  user_2       149.5        82.5
2  user_3       143.8        64.6
3  user_4       163.1        87.2
4  user_5       159.6        77.1

In [31]:
df['bmi'] = df['weight(kg)'] / (df['height(cm)'] * 0.01) ** 2

In [32]:
def convert_bmi(x):
    if x >= 25:
        return 'ì´ˆê³ ë„ ë¹„ë§Œ'
    elif 23 <= x < 25:
        return 'ê³ ë„ ë¹„ë§Œ'
    elif 18.5 <= x < 23:
        return 'ì •ìƒ'
    else:
        return 'ì €ì²´ì¤‘'
    
df['bmi_category'] = df['bmi'].apply(convert_bmi)

In [33]:
df['bmi_category'].unique()

array(['ì •ìƒ', 'ì´ˆê³ ë„ ë¹„ë§Œ', 'ê³ ë„ ë¹„ë§Œ', 'ì €ì²´ì¤‘'], dtype=object)

In [40]:
cond1 = df['bmi_category'] == 'ì´ˆê³ ë„ ë¹„ë§Œ'
cond2 = df['bmi_category'] == 'ì €ì²´ì¤‘'
cond = cond1 | cond2
df[cond].shape[0]

8998

## 1-3
ìˆœìœ ì…ì¸ì›ì€ ì´ˆì¤‘ê³  ë„ë‚´,ë„ì™¸ ì „ì…ì¸ì›ì—ì„œ ì´ˆì¤‘ê³  ë„ë‚´, ë„ì™¸ ì „ì¶œì¸ì›ì„ ëº€ê°’ì´ë‹¤. ê°ë…„ë„ë³„ë¡œ ê°€ì¥ í° ìˆœìœ ì…ì¸ì›ì„ ê°€ì§„ ì§€ì—­êµ¬ì˜ ìˆœìœ ì…ì¸ì›ì„ êµ¬í•˜ê³  ì „ì²´ ê¸°ê°„ì˜ í•´ë‹¹ ìˆœìœ ì…ì¸ì›ë“¤ì˜ í•©ì„ êµ¬í•˜ì—¬ë¼

In [105]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_3.csv')
df.head(5)

,ì§€ì—­,ì´ˆë“±í•™êµ_ì „ì¶œ_ë„ë‚´,ì´ˆë“±í•™êµ_ì „ì¶œ_ë„ì™¸,ì´ˆë“±í•™êµ_ì „ì…_ë„ë‚´,ì´ˆë“±í•™êµ_ì „ì…_ë„ì™¸,ì¤‘í•™êµ_ì „ì¶œ_ë„ë‚´,ì¤‘í•™êµ_ì „ì¶œ_ë„ì™¸,ì¤‘í•™êµ_ì „ì…_ë„ë‚´,ì¤‘í•™êµ_ì „ì…_ë„ì™¸,ê³ ë“±í•™êµ_ì „ì¶œ_ë„ë‚´,ê³ ë“±í•™êµ_ì „ì¶œ_ë„ì™¸,ê³ ë“±í•™êµ_ì „ì…_ë„ë‚´,ê³ ë“±í•™êµ_ì „ì…_ë„ì™¸,ë…„ë„
0,ì¢…ë¡œêµ¬,221,132,255,126,63,71,104,73,203,72,166,75,2012
1,ì¤‘êµ¬,295,139,203,100,66,43,58,44,156,37,104,39,2012
2,ìš©ì‚°êµ¬,380,269,302,174,134,78,91,106,102,66,113,48,2012
3,ì„±ë™êµ¬,643,344,376,221,154,103,98,82,179,37,153,41,2012
4,ê´‘ì§„êµ¬,560,382,595,312,165,158,158,118,115,70,154,66,2012

In [106]:
# ìˆœìœ ì…ì¸ì› = (ì´ˆì¤‘ê³  ë„ë‚´ ì „ì…ì¸ì›  + ì´ˆì¤‘ê³  ë„ì™¸ ì „ì…ì¸ì›) - (ì´ˆì¤‘ê³  ë„ë‚´ ì „ì¶œì¸ì› + ì´ˆì¤‘ê³  ë„ì™¸ ì „ì¶œì¸ì›)
# ê°ë…„ë„ë³„ë¡œ ê°€ì¥ í° ìˆœìœ ì…ì¸ì›ì„ ê°€ì§„ ì§€ì—­êµ¬ì˜ ìˆœìœ ì…ì¸ì›ì„ êµ¬í•˜ê³  ì „ì²´ ê¸°ê°„ì˜ í•´ë‹¹ ìˆœìœ ì…ì¸ì›ë“¤ì˜ í•©

in_cols = [col for col in df.columns if 'ì „ì…' in col]
out_cols = [col for col in df.columns if 'ì „ì¶œ' in col]
df['ìˆœìœ ì…ì¸ì›'] = df[in_cols].sum(axis=1) - df[out_cols].sum(axis=1)

In [125]:
# sol1
df.groupby(['ë…„ë„', 'ì§€ì—­'])['ìˆœìœ ì…ì¸ì›'].sum().unstack().max(axis=1).sum()

13853

In [134]:
# so2
pd.pivot(df, index='ë…„ë„', columns='ì§€ì—­', values='ìˆœìœ ì…ì¸ì›').max(axis=1).sum()

13853

In [133]:
# sol3
trg_idx = df.groupby(by=['ë…„ë„'])['ìˆœìœ ì…ì¸ì›'].idxmax().values
df.iloc[trg_idx]['ìˆœìœ ì…ì¸ì›'].sum()

13853

# ì‘ì—… 2ìœ í˜•
ì˜ˆì¸¡ ë³€ìˆ˜ price, test.csvì— ëŒ€í•´ IDë³„ë¡œ price ê°’ì„ ì˜ˆì¸¡í•˜ì—¬ ì œì¶œ, ì œì¶œ ë°ì´í„° ì»¬ëŸ¼ì€ IDì™€ price ë‘ê°œë§Œ ì¡´ì¬í•´ì•¼í•¨. í‰ê°€ì§€í‘œëŠ” rmse

In [229]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_train_.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_test_.csv')

display(train.head(2))
test.head(2)

,ID,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,10170,A Class,2012,11940,Automatic,46000,Diesel,30,64.2,2.1
1,9551,CL Class,2020,38624,Semi-Auto,19,Petrol,150,36.7,2.0

   ID      model  year transmission  mileage fuelType  tax   mpg  engineSize
0   0        SLK  2005    Automatic    63000   Petrol  325  32.1         1.8
1   2   SL CLASS  2016    Automatic     6200   Petrol  555  28.0         5.5

In [230]:
# ë°ì´í„° ë¶„ë¦¬
X = train.drop(['ID', 'price'], axis=1)
y = train['price']
test_id = test.pop('ID')

In [231]:
# get_dummies - train ì»¬ëŸ¼ ê³ ìœ ê°’ ì¤‘ test ì»¬ëŸ¼ ê³ ìœ ê°’ì— ì¡´ì¬í•˜ì§€ ì•ŠëŠ” ë°ì´í„° ìˆì„ ë•Œ reindex
X = pd.get_dummies(X)
test = pd.get_dummies(test)
test = test.reindex(columns=X.columns, fill_value=0)

In [232]:
# # X, test concat í›„ get mummies
# combined_df = pd.concat([X, test])
# combined_df = pd.get_dummies(combined_df)
# X = combined_df[: len(X)]
# test = combined_df[len(X): ]

In [233]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X, y)

In [251]:
from xgboost import XGBRegressor

In [252]:
model = XGBRegressor()

In [247]:
model.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

In [248]:
pred_val = model.predict(X_val)

In [249]:
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

r2 = r2_score(y_val, pred_val)
mse = mean_squared_error(y_val, pred_val)
rmse = np.sqrt(mse)

print('r2 :', r2)
print('rmse :', rmse)

r2 : 0.9565789971912858
rmse : 2321.1106240861104

In [250]:
# í…ŒìŠ¤íŠ¸ ë°ì´í„° ì¶”ë¡ 
pred_test = model.predict(test)

In [240]:
# ì œì¶œ
submission = pd.DataFrame({'ID': test_id, 'price': pred_test})
submission.to_csv('submission.csv', index=False)

# ì‘ì—… 3ìœ í˜•

## 3-1
55ëª… í•™ìƒë“¤ì˜ í‚¤ì— ëŒ€í•œ í‘œë³¸ í‰ê· ì„ êµ¬í•˜ì—¬ë¼(ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ«ì  3ì§¸ìë¦¬ê¹Œì§€

In [253]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_1.csv')
df.head()

       ID  height
0  user_1  164.57
1  user_2  174.99
2  user_3  171.41
3  user_4  162.47
4  user_5  167.11

In [256]:
round(df['height'].mean(), 3)

169.937

## 3-2
të¶„í¬ ì–‘ìª½ ê¼¬ë¦¬ì—ì„œì˜ t ê°’ì„ êµ¬í•˜ì—¬ë¼ (ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜4ì§¸ìë¦¬ê¹Œì§€)

In [284]:
import pandas as pd
import numpy as np
from scipy.stats import t

In [285]:
# í‰ê· ê³¼ í‘œì¤€í¸ì°¨ ê³„ì‚°
mean = df['height'].mean()
std = df['height'].std()  # ììœ ë„ ì¡°ì •ì„ ìœ„í•´ ddof=1 ì„¤ì •

In [286]:
# ììœ ë„ (n-1)
degrees_freedom = len(df['height']) - 1

In [287]:
degrees_freedom

54

In [293]:
# t ë¶„í¬ì—ì„œ ì–‘ìª½ ê¼¬ë¦¬ì˜ t ê°’ ê³„ì‚°
alpha = 0.025  # ì–‘ìª½ ê¼¬ë¦¬ì˜ ê°ê° 2.5%ì— í•´ë‹¹í•˜ëŠ” t ê°’ì„ êµ¬í•¨
t_value = t.ppf(1 - alpha, degrees_freedom)  # t ë¶„í¬ì˜ í¼ì„¼íŠ¸ í¬ì¸íŠ¸ í•¨ìˆ˜(ppf) ì‚¬ìš©

In [294]:
# ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ì  ë„¤ ë²ˆì§¸ ìë¦¬ê¹Œì§€ ì¶œë ¥

In [295]:
print(f"ì–‘ìª½ ê¼¬ë¦¬ì˜ t ê°’ (t-distribution, df={degrees_freedom}): {t_value}")

ì–‘ìª½ ê¼¬ë¦¬ì˜ t ê°’ (t-distribution, df=54): 2.004879286566523

In [296]:
# ê¸°íƒ€ì§€ì‹ - t-ë¶„í¬ì˜ ëˆ„ì  ë¶„í¬ í•¨ìˆ˜(cdf)
t.cdf(t_value, degrees_freedom)

0.9749999999105952

## 3-3
95% ì‹ ë¢°êµ¬ê°„ì„ êµ¬í•˜ì—¬ë¼(print(lower,upper) ë°©ì‹ìœ¼ë¡œ ì¶œë ¥, ê°ê°ì˜ ê°’ì€ ì†Œìˆ«ì  ì´í•˜ 3ì§¸ìë¦¬ê¹Œì§€)

In [310]:
# í‘œë³¸ í¬ê¸°
n = len(df)

In [311]:
# í‰ê· 
mean = df['height'].mean()

In [312]:
# í‘œì¤€í¸ì°¨
std = df['height'].std()

In [313]:
# ììœ ë„
dof = n - 1

In [314]:
# ì‹ ë¢°ìˆ˜ì¤€ 95%
confidence_level = 0.95

In [315]:
# ì–‘ìª½ ê¼¬ë¦¬ì˜ í™•ë¥ 
alpha = 1 - confidence_level

In [316]:
# t-ê°’(ì–‘ìª½ ê¼¬ë¦¬ì—ì„œì˜ ê°’)
t_value = t.ppf(1 - alpha / 2, dof)
t_value

2.004879286566523

In [322]:
# 95% ì‹ ë¢°êµ¬ê°„ ê³„ì‚°
margin_of_error = t_value * (std / np.sqrt(n))
lower_bound = round(mean - margin_of_error, 3)
upper_bound = round(mean + margin_of_error, 3)
print(lower_bound, upper_bound)

168.321 171.553

## 3-4
3 ê·¸ë£¹ì˜ ë°ì´í„°ì— ëŒ€í•´ í¬ë£¨ìŠ¤ì¹¼-ì™ˆë¦¬ìŠ¤ ê²€ì •ì„ ì‚¬ìš©í•˜ì—¬ ê²€ì • í†µê³„ëŸ‰ì„ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ«ì  ì´í•˜ 3ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼

### í¬ë£¨ìŠ¤ì¹¼-ì™ˆë¦¬ìŠ¤ ê²€ì •(Kruskal-Wallis test)
- 3ê°œ ì´ìƒì˜ ë…ë¦½ì ì¸ ê·¸ë£¹ ê°„ì˜ í‰ê· ì´ ë™ì¼í•œì§€ ì—¬ë¶€ë¥¼ ë¹„êµí•˜ëŠ” ë¹„ëª¨ìˆ˜ì ì¸ ê²€ì • ë°©ë²•
- ì´ ê²€ì •ì€ ê° ê·¸ë£¹ì˜ ë°ì´í„°ê°€ ì •ê·œ ë¶„í¬ë¥¼ ë”°ë¥´ì§€ ì•Šì„ ë•Œ ì‚¬ìš©
- ê²€ì • í†µê³„ëŸ‰ì€ í¬ë£¨ìŠ¤ì¹¼-ì™ˆë¦¬ìŠ¤ í†µê³„ëŸ‰ $ğ»$ë¡œ í‘œì‹œë˜ë©°, ì´ ê°’ì´ í´ìˆ˜ë¡ ê·¸ë£¹ ê°„ì˜ í‰ê·  ì°¨ì´ê°€ í†µê³„ì ìœ¼ë¡œ ìœ ì˜ë¯¸í•˜ë‹¤ëŠ” ê²ƒì„ ë‚˜íƒ€ëƒ„

In [323]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_2.csv')
df.head()

  ID      value
0  A  84.179434
1  A  93.971003
2  A  62.140957
3  A  72.911723
4  A  79.252747

In [325]:
from scipy.stats import kruskal

In [334]:
A = df[df.ID =='A']['value'].values
B = df[df.ID =='B']['value'].values
C = df[df.ID =='C']['value'].values

In [338]:
H, p_value = kruskal(A, B, C)

round_H = round(H,3)
print(f"í¬ë£¨ìŠ¤ì¹¼-ì™ˆë¦¬ìŠ¤ ê²€ì • í†µê³„ëŸ‰: {round_H}")

í¬ë£¨ìŠ¤ì¹¼-ì™ˆë¦¬ìŠ¤ ê²€ì • í†µê³„ëŸ‰: 6.521

## 3-5
3 ê·¸ë£¹ì˜ ë°ì´í„°ì— ëŒ€í•´ í¬ë£¨ìŠ¤ì¹¼-ì™ˆë¦¬ìŠ¤ ê²€ì •ì„ ì‚¬ìš©í•˜ì—¬ p-valueë¥¼ ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ«ì  ì´í•˜ 3ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼. ê·€ë¬´ê°€ì„¤ê³¼ ëŒ€ë¦½ê°€ì„¤ì¤‘ 0.05 ìœ ì˜ìˆ˜ì¤€ì—ì„œ ìœ ì˜í•œ ê°€ì„¤ì„  ì¶œë ¥í•˜ë¼

In [341]:
# ìœ ì˜ìˆ˜ì¤€(alpha) ì„¤ì •
alpha = 0.05

# ìœ ì˜ì„± íŒë‹¨
if p_value < alpha:
    print(f"p-value = {p_value} ì´ë¯€ë¡œ ìœ ì˜ìˆ˜ì¤€ {alpha}ì—ì„œ ìœ ì˜í•œ ì°¨ì´ê°€ ìˆìŠµë‹ˆë‹¤.")
    print('ëŒ€ë¦½ê°€ì„¤ ì±„íƒ')
else:
    print(f"p-value = {p_value} ì´ë¯€ë¡œ ìœ ì˜ìˆ˜ì¤€ {alpha}ì—ì„œ ìœ ì˜í•œ ì°¨ì´ê°€ ì—†ìŠµë‹ˆë‹¤.")

p-value = 0.038363639296696686 ì´ë¯€ë¡œ ìœ ì˜ìˆ˜ì¤€ 0.05ì—ì„œ ìœ ì˜í•œ ì°¨ì´ê°€ ìˆìŠµë‹ˆë‹¤.
ëŒ€ë¦½ê°€ì„¤ ì±„íƒ