# 작업 1유형

## 1-1
20L가격과 5L가격이 모두 0원이 아닌 데이터만 필터를 한 후, 각 row별로 20L가격과 5L가격의 차이를 ‘차이가격’ 이라 부른다고 하자. 시도명 별 차이가격의 평균가격을 비교할때 그 값이 가장 큰 금액을 반올림하여 소숫점 이하 1자리까지 구하여라

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_1_.csv')
df.head(5)

,시도명,시군구명,종량제봉투종류,종량제봉투처리방식,종량제봉투용도,종량제봉투사용대상,1L가격,1.5L가격,2L가격,2.5L가격,...,60L가격,75L가격,100L가격,120L가격,125L가격,관리부서명,관리부서전화번호,데이터기준일자,제공기관코드,제공기관명
0,경기도,안양시,규격봉투,매립용,생활쓰레기,사업장용,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
1,경기도,안양시,규격봉투,매립용,생활쓰레기,기타,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
2,경기도,안양시,규격봉투,소각용,음식물쓰레기,가정용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
3,경기도,안양시,규격봉투,소각용,음식물쓰레기,사업장용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
4,경기도,안양시,규격봉투,소각용,음식물쓰레기,기타,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시

In [3]:
cond1 = df['20L가격'] != 0
cond2 = df['5L가격'] != 0
cond = cond1 & cond2

new_df = df[cond]

In [5]:
new_df['차이가격'] = new_df['20L가격'] - new_df['5L가격']

C:\Users\dudejr\anaconda3\envs\kaggle\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
# 시도명 별 차이가격의 평균가격을 비교할때 그 값이 가장 큰 금
ans = new_df.groupby(by=['시도명'], as_index=False)['차이가격'].mean().sort_values(by='차이가격').iloc[-1]['차이가격']
print(round(ans, 1))

619.0

## 1-2
BMI는 몸무게(kg) / (키(m) * 키(m)) 로 정의 된다. 초고도 비만은 BMI 25이상 , 고도 비만은 BMI 25미만 - 23이상 , 정상은 23미만 - 18.5이상 저체중은 18.5미만으로 정의 된다. 주어진 데이터에서 초고도비만 인원 + 저체중 인원 의 숫자는?

In [22]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_2_.csv')
df.head(5)

       ID  height(cm)  weight(kg)
0  user_1       173.0        67.5
1  user_2       149.5        82.5
2  user_3       143.8        64.6
3  user_4       163.1        87.2
4  user_5       159.6        77.1

In [31]:
df['bmi'] = df['weight(kg)'] / (df['height(cm)'] * 0.01) ** 2

In [32]:
def convert_bmi(x):
    if x >= 25:
        return '초고도 비만'
    elif 23 <= x < 25:
        return '고도 비만'
    elif 18.5 <= x < 23:
        return '정상'
    else:
        return '저체중'
    
df['bmi_category'] = df['bmi'].apply(convert_bmi)

In [33]:
df['bmi_category'].unique()

array(['정상', '초고도 비만', '고도 비만', '저체중'], dtype=object)

In [40]:
cond1 = df['bmi_category'] == '초고도 비만'
cond2 = df['bmi_category'] == '저체중'
cond = cond1 | cond2
df[cond].shape[0]

8998

## 1-3
순유입인원은 초중고 도내,도외 전입인원에서 초중고 도내, 도외 전출인원을 뺀값이다. 각년도별로 가장 큰 순유입인원을 가진 지역구의 순유입인원을 구하고 전체 기간의 해당 순유입인원들의 합을 구하여라

In [105]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_3.csv')
df.head(5)

,지역,초등학교_전출_도내,초등학교_전출_도외,초등학교_전입_도내,초등학교_전입_도외,중학교_전출_도내,중학교_전출_도외,중학교_전입_도내,중학교_전입_도외,고등학교_전출_도내,고등학교_전출_도외,고등학교_전입_도내,고등학교_전입_도외,년도
0,종로구,221,132,255,126,63,71,104,73,203,72,166,75,2012
1,중구,295,139,203,100,66,43,58,44,156,37,104,39,2012
2,용산구,380,269,302,174,134,78,91,106,102,66,113,48,2012
3,성동구,643,344,376,221,154,103,98,82,179,37,153,41,2012
4,광진구,560,382,595,312,165,158,158,118,115,70,154,66,2012

In [106]:
# 순유입인원 = (초중고 도내 전입인원  + 초중고 도외 전입인원) - (초중고 도내 전출인원 + 초중고 도외 전출인원)
# 각년도별로 가장 큰 순유입인원을 가진 지역구의 순유입인원을 구하고 전체 기간의 해당 순유입인원들의 합

in_cols = [col for col in df.columns if '전입' in col]
out_cols = [col for col in df.columns if '전출' in col]
df['순유입인원'] = df[in_cols].sum(axis=1) - df[out_cols].sum(axis=1)

In [125]:
# sol1
df.groupby(['년도', '지역'])['순유입인원'].sum().unstack().max(axis=1).sum()

13853

In [134]:
# so2
pd.pivot(df, index='년도', columns='지역', values='순유입인원').max(axis=1).sum()

13853

In [133]:
# sol3
trg_idx = df.groupby(by=['년도'])['순유입인원'].idxmax().values
df.iloc[trg_idx]['순유입인원'].sum()

13853

# 작업 2유형
예측 변수 price, test.csv에 대해 ID별로 price 값을 예측하여 제출, 제출 데이터 컬럼은 ID와 price 두개만 존재해야함. 평가지표는 rmse

In [229]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_train_.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p2_test_.csv')

display(train.head(2))
test.head(2)

,ID,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,10170,A Class,2012,11940,Automatic,46000,Diesel,30,64.2,2.1
1,9551,CL Class,2020,38624,Semi-Auto,19,Petrol,150,36.7,2.0

   ID      model  year transmission  mileage fuelType  tax   mpg  engineSize
0   0        SLK  2005    Automatic    63000   Petrol  325  32.1         1.8
1   2   SL CLASS  2016    Automatic     6200   Petrol  555  28.0         5.5

In [230]:
# 데이터 분리
X = train.drop(['ID', 'price'], axis=1)
y = train['price']
test_id = test.pop('ID')

In [231]:
# get_dummies - train 컬럼 고유값 중 test 컬럼 고유값에 존재하지 않는 데이터 있을 때 reindex
X = pd.get_dummies(X)
test = pd.get_dummies(test)
test = test.reindex(columns=X.columns, fill_value=0)

In [232]:
# # X, test concat 후 get mummies
# combined_df = pd.concat([X, test])
# combined_df = pd.get_dummies(combined_df)
# X = combined_df[: len(X)]
# test = combined_df[len(X): ]

In [233]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X, y)

In [251]:
from xgboost import XGBRegressor

In [252]:
model = XGBRegressor()

In [247]:
model.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

In [248]:
pred_val = model.predict(X_val)

In [249]:
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

r2 = r2_score(y_val, pred_val)
mse = mean_squared_error(y_val, pred_val)
rmse = np.sqrt(mse)

print('r2 :', r2)
print('rmse :', rmse)

r2 : 0.9565789971912858
rmse : 2321.1106240861104

In [250]:
# 테스트 데이터 추론
pred_test = model.predict(test)

In [240]:
# 제출
submission = pd.DataFrame({'ID': test_id, 'price': pred_test})
submission.to_csv('submission.csv', index=False)

# 작업 3유형

## 3-1
55명 학생들의 키에 대한 표본 평균을 구하여라(반올림하여 소숫점 3째자리까지

In [253]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_1.csv')
df.head()

       ID  height
0  user_1  164.57
1  user_2  174.99
2  user_3  171.41
3  user_4  162.47
4  user_5  167.11

In [256]:
round(df['height'].mean(), 3)

169.937

## 3-2
t분포 양쪽 꼬리에서의 t 값을 구하여라 (반올림하여 소수4째자리까지)

In [284]:
import pandas as pd
import numpy as np
from scipy.stats import t

In [285]:
# 평균과 표준편차 계산
mean = df['height'].mean()
std = df['height'].std()  # 자유도 조정을 위해 ddof=1 설정

In [286]:
# 자유도 (n-1)
degrees_freedom = len(df['height']) - 1

In [287]:
degrees_freedom

54

In [293]:
# t 분포에서 양쪽 꼬리의 t 값 계산
alpha = 0.025  # 양쪽 꼬리의 각각 2.5%에 해당하는 t 값을 구함
t_value = t.ppf(1 - alpha, degrees_freedom)  # t 분포의 퍼센트 포인트 함수(ppf) 사용

In [294]:
# 반올림하여 소수점 네 번째 자리까지 출력

In [295]:
print(f"양쪽 꼬리의 t 값 (t-distribution, df={degrees_freedom}): {t_value}")

양쪽 꼬리의 t 값 (t-distribution, df=54): 2.004879286566523

In [296]:
# 기타지식 - t-분포의 누적 분포 함수(cdf)
t.cdf(t_value, degrees_freedom)

0.9749999999105952

## 3-3
95% 신뢰구간을 구하여라(print(lower,upper) 방식으로 출력, 각각의 값은 소숫점 이하 3째자리까지)

In [310]:
# 표본 크기
n = len(df)

In [311]:
# 평균
mean = df['height'].mean()

In [312]:
# 표준편차
std = df['height'].std()

In [313]:
# 자유도
dof = n - 1

In [314]:
# 신뢰수준 95%
confidence_level = 0.95

In [315]:
# 양쪽 꼬리의 확률
alpha = 1 - confidence_level

In [316]:
# t-값(양쪽 꼬리에서의 값)
t_value = t.ppf(1 - alpha / 2, dof)
t_value

2.004879286566523

In [322]:
# 95% 신뢰구간 계산
margin_of_error = t_value * (std / np.sqrt(n))
lower_bound = round(mean - margin_of_error, 3)
upper_bound = round(mean + margin_of_error, 3)
print(lower_bound, upper_bound)

168.321 171.553

## 3-4
3 그룹의 데이터에 대해 크루스칼-왈리스 검정을 사용하여 검정 통계량을 반올림하여 소숫점 이하 3자리까지 구하여라

### 크루스칼-왈리스 검정(Kruskal-Wallis test)
- 3개 이상의 독립적인 그룹 간의 평균이 동일한지 여부를 비교하는 비모수적인 검정 방법
- 이 검정은 각 그룹의 데이터가 정규 분포를 따르지 않을 때 사용
- 검정 통계량은 크루스칼-왈리스 통계량 $𝐻$로 표시되며, 이 값이 클수록 그룹 간의 평균 차이가 통계적으로 유의미하다는 것을 나타냄

In [323]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_2.csv')
df.head()

  ID      value
0  A  84.179434
1  A  93.971003
2  A  62.140957
3  A  72.911723
4  A  79.252747

In [325]:
from scipy.stats import kruskal

In [334]:
A = df[df.ID =='A']['value'].values
B = df[df.ID =='B']['value'].values
C = df[df.ID =='C']['value'].values

In [338]:
H, p_value = kruskal(A, B, C)

round_H = round(H,3)
print(f"크루스칼-왈리스 검정 통계량: {round_H}")

크루스칼-왈리스 검정 통계량: 6.521

## 3-5
3 그룹의 데이터에 대해 크루스칼-왈리스 검정을 사용하여 p-value를 반올림하여 소숫점 이하 3자리까지 구하여라. 귀무가설과 대립가설중 0.05 유의수준에서 유의한 가설을  출력하라

In [341]:
# 유의수준(alpha) 설정
alpha = 0.05

# 유의성 판단
if p_value < alpha:
    print(f"p-value = {p_value} 이므로 유의수준 {alpha}에서 유의한 차이가 있습니다.")
    print('대립가설 채택')
else:
    print(f"p-value = {p_value} 이므로 유의수준 {alpha}에서 유의한 차이가 없습니다.")

p-value = 0.038363639296696686 이므로 유의수준 0.05에서 유의한 차이가 있습니다.
대립가설 채택