# 작업 1유형

## 1-1
각 구급 보고서 별 출동시각과 신고시각의 차이를 ‘소요시간’ 컬럼을 만들고 초(sec)단위로 구하고 소방서명 별 소요시간의 평균을 오름차순으로 정렬 했을때 3번째로 작은 소요시간의 값과 소방서명을  출력하라

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_1.csv')
df.head(5)

,구급보고서번호,소방서명,환자증상구분명1,신고일자,신고시각,출동일자,출동시각,환자직업명,사고발생장소
0,20211122103M01526,중랑소방서,심계항진,20210330,104800,20210330,105042,무직,집
1,20211111105M00771,노원소방서,복통,20210412,225600,20210412,225827,기타,집
2,20211115104M00864,서초소방서,심계항진,20210303,194100,20210303,194500,직장인,상업시설
3,20211113107M01869,마포소방서,고열,20211225,235400,20211226,331,유아,집
4,20211118102M05820,강동소방서,고열,20211019,12100,20211019,12322,무직,집

In [2]:
df['출동일시'] = pd.to_datetime(df['출동일자'].astype(str) + df['출동시각'].astype(str).str.zfill(6))
df['신고일시'] = pd.to_datetime(df['신고일자'].astype(str) + df['신고시각'].astype(str).str.zfill(6))

df['소요시간'] = (df['출동일시'] - df['신고일시']).dt.total_seconds()

df.groupby(['소방서명'])['소요시간'].mean().sort_values().reset_index().iloc[2].to_list()

['종로소방서', 175.5]

## 1-2
학교 세부유형이 일반중학교인 학교들 중 일반중학교 숫자가 2번째로 많은 시도의 일반중학교 데이터만 필터하여 해당 시도의 교원 한명 당 맡은 학생수가 가장 많은 학교를 찾아서 해당 학교의 교원수를  출력하라

In [3]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_2.csv')
df.head(5)

               학교명  시도  학교세부유형  일반학급_학생수_계  교원수_총계_계
0  서울대학교사범대학부설고등학교  서울  일반고등학교         689        73
1           가락고등학교  서울  일반고등학교         765        70
2           개포고등학교  서울  일반고등학교         684        69
3           경기고등학교  서울  일반고등학교        1047        96
4           경동고등학교  서울  일반고등학교         529        58

In [4]:
trg_city = df[df['학교세부유형'] == '일반중학교']['시도'].value_counts().index[1]
cond1 = df['시도'] == trg_city
cond2 = df['학교세부유형'] == '일반중학교'
cond = cond1 & cond2
new_df = df[cond].reset_index(drop=True)
new_df['ratio'] = new_df['일반학급_학생수_계'] / new_df['교원수_총계_계']
new_df.sort_values(by='ratio', ascending=False)['교원수_총계_계'].values[0]

33

## 1-3
5대 범죄(절도, 사기, 배임, 방화, 폭행)의 월별 총 발생건수를 총범죄수라고 표현하자. 18,19년의 각각 분기별 총범죄수의 월평균 값을 구했을때 최대값을 가지는 년도와 분기를 구하고 해당 분기의 최댓값의 사기가 발생한 월의 사기 발생건수를  출력하라(1분기:1,2,3월 / 2분기 : 4,5,6월 / 3분기 7,8,9월 / 4분기 10,11,12월 , 1분기 월평균 : 1,2,3월의 총범죄수 평균)

In [5]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_3.csv')
df.head(5)

       범죄분류     절도     사기   배임   방화     폭행
0  2018년_1월  13280  25318  656  143  12186
1  2018년_2월  12504  19159  403  135  12087
2  2018년_3월  14733  24509  471  148  13841
3  2018년_4월  14781  23147  414  135  13973
4  2018년_5월  15988  23584  451  127  14117

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   범죄분류    24 non-null     object
 1   절도      24 non-null     int64
 2   사기      24 non-null     int64
 3   배임      24 non-null     int64
 4   방화      24 non-null     int64
 5   폭행      24 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.2+ KB

In [7]:
int_columns = df.select_dtypes(include=['int64']).columns

In [8]:
df['총범죄수'] = df[int_columns].sum(axis=1)

In [9]:
df['년'] = df['범죄분류'].map(lambda x : x.split('_')[0].replace('년', ''))
df['월'] = df['범죄분류'].map(lambda x : x.split('_')[1].replace('월', ''))

In [10]:
def get_quarter(x):
    if x in [1, 2, 3]:
        return '1분기'
    elif x in [4, 5, 6]:
        return '2분기'
    elif x in [7, 8, 9]:
        return '3분기'
    else:
        return '4분기'

df['분기'] = df['월'].astype(int).apply(get_quarter)

In [11]:
# 18,19년의 각각 분기별 총범죄수의 월평균 값을 구했을때 최대값을 가지는 년도와 분기를 구하고
max_year, max_quarter, max_crime_number = df.groupby(by=['년', '분기'], as_index=False)['총범죄수'].mean().sort_values(by='총범죄수').iloc[-1]
max_year, max_quarter, max_crime_number

('2019', '2분기', 58438.333333333336)

In [12]:
# 해당 분기의 최댓값의 사기가 발생한 월의 사기 발생건수를 출력하라
df[(df['년'] == max_year) & (df['분기'] == max_quarter)].sort_values(by='사기').iloc[-1]['사기']

27766

# 작업 2유형
예측 변수 General_Health, test.csv에 대해 ID별로 General_Health 값을 예측하여 제출, 제출 데이터 컬럼은 ID와 General_Health 두개만 존재해야함. 평가지표는 f1score

In [164]:
import pandas as pd
pd.set_option('display.max_columns', None)  # 모든 컬럼 표시
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score

In [165]:
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/ep6_p2_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/ep6_p2_test.csv')

### sol1

In [157]:
# 데이터 분리

X = train.drop(['ID', 'General_Health'], axis=1)
y = train['General_Health']
test_id = test.pop('ID')

In [158]:
# 원핫 인코딩
X = pd.get_dummies(X)
test = pd.get_dummies(test)

In [159]:
X_train, X_val, y_train, y_val = train_test_split(X, y)

In [160]:
model = RandomForestClassifier()
model.fit(X_train, y_train)

RandomForestClassifier()

In [161]:
pred_val = model.predict(X_val)
print('val f1score', f1_score(y_val, pred_val, average='macro'))

val f1score 0.5443674350048754

In [162]:
pred_test = model.predict(test)

In [163]:
sumission = pd.DataFrame()
sumission['ID'] = test_id
sumission['price'] = pred_test
sumission.to_csv('00000000.csv', index=False)

### sol2

In [166]:
import pandas as pd
pd.set_option('display.max_columns', None)  # 모든 컬럼 표시
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score

In [167]:
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/ep6_p2_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/ep6_p2_test.csv')

In [168]:
train.head(2)

,ID,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,ID_1473,Good,Within the past 2 years,Yes,No,No,No,No,No,Yes,Female,55-59,168.0,77.11,27.44,No,1.0,12.0,4.0,4.0
1,ID_2045,Good,Within the past 2 years,Yes,No,No,No,No,No,No,Female,40-44,152.0,58.97,25.39,No,0.0,8.0,16.0,8.0

In [169]:
test.head(2)

,ID,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,ID_14547,Within the past year,Yes,No,No,No,No,No,No,Male,35-39,180.0,81.65,25.10,No,15.0,8.0,25.0,12.0
1,ID_26,5 or more years ago,No,No,Yes,No,No,No,No,Male,60-64,183.0,79.38,23.73,No,1.0,4.0,4.0,4.0

In [170]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11230 entries, 0 to 11229
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            11230 non-null  object
 1   General_Health                11230 non-null  object
 2   Checkup                       11230 non-null  object
 3   Exercise                      11230 non-null  object
 4   Heart_Disease                 11230 non-null  object
 5   Skin_Cancer                   11230 non-null  object
 6   Other_Cancer                  11230 non-null  object
 7   Depression                    11230 non-null  object
 8   Diabetes                      11230 non-null  object
 9   Arthritis                     11230 non-null  object
 10  Sex                           11230 non-null  object
 11  Age_Category                  11230 non-null  object
 12  Height_(cm)                   11230 non-null  float64
 13  Weight_(kg)                   11230 non-null  float64
 14  BMI                           11230 non-null  float64
 15  Smoking_History               11230 non-null  object
 16  Alcohol_Consumption           11230 non-null  float64
 17  Fruit_Consumption             11230 non-null  float64
 18  Green_Vegetables_Consumption  11230 non-null  float64
 19  FriedPotato_Consumption       11230 non-null  float64
dtypes: float64(7), object(13)
memory usage: 1.7+ MB

In [171]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4813 entries, 0 to 4812
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            4813 non-null   object
 1   Checkup                       4813 non-null   object
 2   Exercise                      4813 non-null   object
 3   Heart_Disease                 4813 non-null   object
 4   Skin_Cancer                   4813 non-null   object
 5   Other_Cancer                  4813 non-null   object
 6   Depression                    4813 non-null   object
 7   Diabetes                      4813 non-null   object
 8   Arthritis                     4813 non-null   object
 9   Sex                           4813 non-null   object
 10  Age_Category                  4813 non-null   object
 11  Height_(cm)                   4813 non-null   float64
 12  Weight_(kg)                   4813 non-null   float64
 13  BMI                           4813 non-null   float64
 14  Smoking_History               4813 non-null   object
 15  Alcohol_Consumption           4813 non-null   float64
 16  Fruit_Consumption             4813 non-null   float64
 17  Green_Vegetables_Consumption  4813 non-null   float64
 18  FriedPotato_Consumption       4813 non-null   float64
dtypes: float64(7), object(12)
memory usage: 714.6+ KB

In [172]:
# train 컬럼 유니크 값
for col in train.columns:
    print(f'unique of {col} :', np.sort(train[col].unique()))

unique of ID : ['ID_1' 'ID_10' 'ID_100' ... 'ID_9995' 'ID_9996' 'ID_9999']
unique of General_Health : ['Excellent' 'Fair' 'Good']
unique of Checkup : ['5 or more years ago' 'Never' 'Within the past 2 years'
 'Within the past 5 years' 'Within the past year']
unique of Exercise : ['No' 'Yes']
unique of Heart_Disease : ['No' 'Yes']
unique of Skin_Cancer : ['No' 'Yes']
unique of Other_Cancer : ['No' 'Yes']
unique of Depression : ['No' 'Yes']
unique of Diabetes : ['No' 'No, pre-diabetes or borderline diabetes' 'Yes'
 'Yes, but female told only during pregnancy']
unique of Arthritis : ['No' 'Yes']
unique of Sex : ['Female' 'Male']
unique of Age_Category : ['18-24' '25-29' '30-34' '35-39' '40-44' '45-49' '50-54' '55-59' '60-64'
 '65-69' '70-74' '75-79' '80+']
unique of Height_(cm) : [ 94. 102. 105. 106. 115. 122. 127. 135. 137. 140. 142. 144. 145. 146.
 147. 150. 152. 154. 155. 156. 157. 158. 159. 160. 161. 162. 163. 164.
 165. 166. 167. 168. 170. 171. 172. 173. 175. 177. 178. 180. 181. 182.
 183. 185. 186. 187. 188. 191. 193. 196. 198. 201. 203. 206. 211. 213.
 226.]
unique of Weight_(kg) : [ 31.75  34.02  36.29  37.19  38.56  39.01  39.46  40.82  41.73  42.18
  42.64  43.09  43.54  44.    44.45  44.91  45.    45.36  45.81  46.27
  46.72  47.    47.17  47.63  48.08  48.53  48.99  49.44  49.9   50.35
  50.8   51.26  51.71  52.    52.16  52.62  53.07  53.52  53.98  54.43
  54.88  55.34  55.79  56.    56.25  56.7   57.    57.15  57.61  58.06
  58.51  58.97  59.    59.42  59.87  60.    60.33  60.78  61.    61.23
  61.69  62.    62.14  62.6   63.    63.05  63.5   63.96  64.41  64.86
  65.    65.32  65.77  66.    66.22  66.68  67.13  67.59  68.    68.04
  68.49  68.95  69.    69.4   69.85  70.    70.31  70.76  71.21  71.67
  72.    72.12  72.57  73.03  73.48  73.94  74.    74.39  74.84  75.3
  75.75  76.2   76.66  77.    77.11  77.56  78.    78.02  78.47  78.93
  79.    79.38  79.83  80.29  80.74  81.19  81.65  82.    82.1   82.55
  83.    83.01  83.46  83.91  84.37  84.82  85.28  85.73  86.    86.18
  86.64  87.09  87.54  88.    88.45  88.9   89.36  89.81  90.    90.26
  90.72  91.17  91.63  92.08  92.53  92.99  93.44  93.89  94.35  94.8
  95.25  95.71  96.16  96.62  97.07  97.52  97.98  98.    98.43  98.88
  99.34  99.79 100.24 100.7  101.15 101.6  102.06 102.51 102.97 103.42
 103.87 104.33 104.78 105.   105.23 105.69 106.14 106.59 107.05 107.5
 107.95 108.41 108.86 109.32 109.77 110.22 110.68 111.13 111.58 112.04
 112.49 112.94 113.4  113.85 114.31 114.76 115.21 115.67 116.12 116.57
 117.03 117.48 117.93 118.39 118.84 119.29 119.75 120.2  121.11 121.56
 122.02 122.47 122.92 123.38 123.83 124.28 124.74 125.19 125.65 126.1
 126.55 127.01 127.46 127.91 128.37 128.82 129.27 129.73 130.18 130.63
 131.09 131.54 132.   132.45 133.36 133.81 134.26 134.72 135.17 136.08
 136.53 136.98 137.44 137.89 138.35 138.8  139.25 139.71 140.   140.61
 141.52 141.97 142.43 142.88 143.34 143.79 144.24 145.15 145.6  146.06
 147.42 148.32 148.78 149.23 149.69 151.05 151.5  151.95 154.22 156.04
 156.49 158.76 159.66 161.03 163.29 164.2  165.11 167.38 167.83 168.28
 169.64 170.1  172.37 173.73 174.63 175.54 176.9  179.62 181.44 183.7
 190.51 192.78 195.   195.04 199.58 202.76 204.12 219.99 222.71 229.52
 230.88 233.6  249.48 293.02]
unique of BMI : [13.25 13.31 13.37 ... 81.67 85.23 97.58]
unique of Smoking_History : ['No' 'Yes']
unique of Alcohol_Consumption : [ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17.
 18. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30.]
unique of Fruit_Consumption : [  0.   1.   2.   3.   4.   5.   6.   7.   8.   9.  10.  11.  12.  13.
  14.  15.  16.  17.  18.  20.  21.  22.  23.  24.  25.  26.  28.  29.
  30.  31.  32.  35.  36.  38.  40.  45.  48.  50.  56.  60.  65.  68.
  70.  80.  88.  90.  96.  99. 120.]
unique of Green_Vegetables_Consumption : [  0.   1.   2.   3.   4.   5.   6.   7.   8.   9.  10.  11.  12.  13.
  14.  15.  16.  17.  18.  20.  21.  22.  23.  24.  25.  26.  27.  28.
  29.  30.  31.  32.  33.  35.  40.  45.  48.  50.  56.  60.  80.  84.
  90.  93.  95.  99. 120.]
unique of FriedPotato_Consumption : [  0.   1.   2.   3.   4.   5.   6.   7.   8.   9.  10.  11.  12.  13.
  14.  15.  16.  17.  18.  19.  20.  21.  22.  24.  25.  28.  30.  32.
  35.  36.  40.  48.  56.  60.  84.  90. 120.]

In [21]:
# test 컬럼 유니크 값
for col in test.columns:
    print(f'unique of {col} :', np.sort(test[col].unique()))

unique of ID : ['ID_10001' 'ID_10005' 'ID_10006' ... 'ID_9994' 'ID_9997' 'ID_9998']
unique of Checkup : ['5 or more years ago' 'Never' 'Within the past 2 years'
 'Within the past 5 years' 'Within the past year']
unique of Exercise : ['No' 'Yes']
unique of Heart_Disease : ['No' 'Yes']
unique of Skin_Cancer : ['No' 'Yes']
unique of Other_Cancer : ['No' 'Yes']
unique of Depression : ['No' 'Yes']
unique of Diabetes : ['No' 'No, pre-diabetes or borderline diabetes' 'Yes'
 'Yes, but female told only during pregnancy']
unique of Arthritis : ['No' 'Yes']
unique of Sex : ['Female' 'Male']
unique of Age_Category : ['18-24' '25-29' '30-34' '35-39' '40-44' '45-49' '50-54' '55-59' '60-64'
 '65-69' '70-74' '75-79' '80+']
unique of Height_(cm) : [100. 102. 124. 127. 135. 140. 142. 145. 147. 149. 150. 152. 155. 156.
 157. 158. 159. 160. 163. 164. 165. 167. 168. 170. 172. 173. 174. 175.
 176. 178. 180. 183. 185. 187. 188. 191. 193. 196. 198. 201. 203. 205.
 206. 208.]
unique of Weight_(kg) : [ 36.29  38.1   38.56  40.37  40.82  41.28  41.73  42.18  42.64  43.09
  44.45  44.91  45.36  45.81  46.27  46.72  47.17  47.63  48.08  48.53
  48.99  49.44  49.9   50.35  50.8   51.26  51.71  52.16  52.62  53.07
  53.52  53.98  54.43  55.34  55.79  56.25  56.7   57.15  57.61  58.06
  58.51  58.97  59.42  59.87  60.    60.33  60.78  61.23  61.69  62.14
  62.6   63.05  63.5   63.96  64.41  64.86  65.32  65.77  66.22  66.68
  67.13  67.59  68.04  68.49  68.95  69.4   69.85  70.    70.31  70.76
  71.21  71.67  72.12  72.57  73.03  73.48  73.94  74.39  74.84  75.3
  75.75  76.2   76.66  77.11  77.56  78.02  78.47  78.93  79.38  79.83
  80.29  80.74  81.19  81.65  82.    82.1   82.55  83.01  83.46  83.91
  84.37  84.82  85.    85.28  85.73  86.18  86.64  87.09  87.54  88.
  88.45  88.9   89.36  89.81  90.    90.26  90.72  91.17  91.63  92.08
  92.53  92.99  93.    93.44  93.89  94.    94.35  94.8   95.25  96.16
  96.62  97.07  97.52  97.98  98.43  98.88  99.34  99.79 100.   100.24
 100.7  101.15 101.6  102.06 102.51 102.97 103.42 103.87 104.33 104.78
 105.23 105.69 106.14 106.59 107.05 107.5  107.95 108.86 109.   109.32
 109.77 110.22 110.68 111.13 111.58 112.04 112.49 113.4  113.85 114.31
 114.76 115.21 115.67 116.12 116.57 117.03 117.48 117.93 118.39 118.84
 119.29 119.75 120.2  120.66 121.11 121.56 122.02 122.47 123.38 123.83
 124.28 124.74 125.19 126.1  127.01 127.46 127.91 128.82 129.27 130.63
 131.09 131.54 132.45 132.9  133.36 133.81 135.17 135.62 136.08 138.35
 140.61 141.52 141.97 142.88 143.79 145.15 147.42 148.32 149.69 151.95
 153.31 154.22 156.49 156.94 158.76 161.48 163.29 165.56 170.1  171.
 172.37 176.9  181.44 185.97 190.51 199.58 204.12 222.26 228.61 247.21
 285.76]
unique of BMI : [12.05 14.88 15.28 ... 80.89 82.81 86.51]
unique of Smoking_History : ['No' 'Yes']
unique of Alcohol_Consumption : [ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 12. 13. 14. 15. 16. 17. 18.
 19. 20. 22. 23. 24. 25. 26. 27. 28. 29. 30.]
unique of Fruit_Consumption : [  0.   1.   2.   3.   4.   5.   6.   7.   8.   9.  10.  12.  14.  15.
  16.  18.  20.  24.  25.  26.  28.  30.  31.  32.  35.  40.  45.  48.
  50.  56.  60.  80.  90.  96.  99. 120.]
unique of Green_Vegetables_Consumption : [  0.   1.   2.   3.   4.   5.   6.   7.   8.   9.  10.  12.  13.  14.
  15.  16.  17.  18.  20.  21.  22.  24.  25.  26.  27.  28.  30.  40.
  48.  56.  60.  90.  99. 120.]
unique of FriedPotato_Consumption : [  0.   1.   2.   3.   4.   5.   6.   7.   8.   9.  10.  12.  13.  14.
  15.  16.  18.  20.  21.  24.  25.  26.  28.  30.  40.  60.  68.  90.
 120.]

# 컬럼 요약
- ID : ID
- General_Health : 타겟 데이터. 범주형-순서형. 레이블 인코딩
- Checkup : 범주형-명목형. 원핫 인코딩
- Exercise : 범주형-명목형. 원핫 인코딩
- Heart_Disease : 범주형-명목형. 원핫 인코딩
- Skin_Cancer : 범주형-명목형. 원핫 인코딩
- Other_Cnacer : 범주형-명목형. 원핫 인코딩
- Depression : 범주형-명목형. 원핫 인코딩
- Diabetes : 범주형-명목형. 원핫 인코딩
- Arthritis : 범주형-명목형. 원핫 인코딩
- Sex : 범주형-명목형. 원핫 인코딩
- Age_Category : 범주형-순서형. 숫자 매핑
- Height_(cm) : 수치형-연속형. 스케일링
- Weight_(kg) : 수치형-연속형. 스케일링
- BMI : 수치형-연속형. 스케일링
- Smoking_History : 범주형-명목형. 원핫 인코딩
- Alcohol_Consumption : 수치형-이산형.
- Fruit_Consumption : 수치형-이산형
- Green_Vegetables_Consumption : 수치형-이산형
- FriedPotato_Consumption : 수치형-이산형

In [173]:
# 원핫 인코딩
oh_cols = ['Checkup', 'Exercise', 'Heart_Disease', 'Skin_Cancer', 'Other_Cancer', 'Depression', 'Diabetes', 'Arthritis', 'Sex', 'Smoking_History']
train = pd.get_dummies(train, columns=oh_cols)
test = pd.get_dummies(test, columns=oh_cols)

In [174]:
# 숫자 매핑 - Age_Category
age_category = np.sort(train['Age_Category'].unique())
age_dic = {}

for i, age in enumerate(age_category):
    age_dic[age] = i

train['Age_Category'] = train['Age_Category'].map(age_dic)
test['Age_Category'] = test['Age_Category'].map(age_dic)

In [175]:
# 데이터 분리
X = train.drop(['ID', 'General_Health'], axis=1)
y = train['General_Health']
test_id = test.pop('ID')

In [176]:
# 학습데이터 / 검증데이터 분리

random_state=42
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=random_state)

In [177]:
# 모델 입력

model = RandomForestClassifier(random_state=random_state)
model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [181]:
# 검증 데이터 추론
pred_val = model.predict(X_val)

In [182]:
# 검증 결과 평가
from sklearn.metrics import f1_score
ans = f1_score(y_val, pred_val, average='micro')
print('f1-score:', ans)

f1-score: 0.5587711487088157

In [183]:
# test 데이터 추론
pred_test = model.predict(test)
pred_test

array(['Excellent', 'Excellent', 'Good', ..., 'Fair', 'Good', 'Good'],
      dtype=object)

In [185]:
# 제출
submission = pd.DataFrame({'ID': test_id, 'General_Health': pred_test})
submission.to_csv('submission.csv', index=False)

# 작업 3유형
A 도시의 남성 600명과 여성 550명이 있다. 남성들 중 흡연자 비율은 0.2이며 여성들 중 흡연자 비율은 0.26이다.
남성과 여성 간에 흡연 여부에 따른 인구 비율이 다른지 확인하고 싶다. 유의 수준 0.05하 귀무가설에 대해 기각 / 채택 여부와 p-value값을 각각  출력하라

In [189]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/28/p7.csv')
df.head()

   age  Cholesterol  weight
0   65         69.0   111.0
1   54        117.0    81.0
2   61         86.2    72.0
3   57         76.0    78.0
4   62        160.0    61.0