# 작업 1유형

In [50]:
import pandas as pd

In [51]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p1.csv'

In [52]:
df = pd.read_csv(DataUrl)

In [53]:
df

       학생    국어    수학    영어    과학
0    ID_0  63.0   NaN  79.0  84.0
1    ID_1  91.0  93.0   NaN  73.0
2    ID_2  59.0  55.0   NaN  56.0
3    ID_3  71.0  83.0  82.0   NaN
4    ID_4  62.0  72.0  56.0   NaN
5    ID_5   NaN  69.0  88.0  96.0
6    ID_6  83.0  92.0  69.0   NaN
7    ID_7  85.0   NaN  83.0  66.0
8    ID_8  96.0  75.0  86.0   NaN
9    ID_9  79.0  56.0  90.0   NaN
10  ID_10  68.0   NaN  69.0  62.0
11  ID_11  61.0  56.0   NaN  76.0
12  ID_12  86.0  96.0   NaN  87.0
13  ID_13   NaN  89.0  98.0  82.0
14  ID_14  79.0  55.0  69.0   NaN

##  1-1
국어,수학,영어,과학 과목 중 가장 많은 학생들이 응시한 시험을 선택하고 해당과목의 점수를 표준화 했을 때 가장 큰 표준화 점수를 구하여라

#### $z = \frac{x - \mu}{\sigma}$

In [54]:
# sol 1
sub = df.iloc[: , 1: ].count().idxmax()
((df[sub] - df[sub].mean()) / df[sub].std(ddof=0)).max()  # ddof=0으로 설정하여 모표준편차 구함

1.713855688712825

In [55]:
# sol 2
from scipy.stats import zscore
zscore(df[sub].dropna()).max()

1.713855688712825

##  1-2
32개의 변수간 상관관계를 확인 했을 때, var_11 컬럼과 상관계수의 절댓값이 가장 큰 변수를 찾아 해당 변수의 평균값을 구하여라

In [56]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p2_.csv')
df.head(5)

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32
0,-0.335864,-2.425701,0.452851,-1.381924,-0.425591,-1.461498,-0.417082,-0.944226,-0.351224,1.474046,...,1.715714,0.300227,0.439828,-0.094772,1.551995,3.308446,-0.391377,1.963829,-1.458605,-0.348652
1,0.803535,-0.699433,0.095579,0.788053,-0.267674,-0.370746,0.636034,-1.674584,-0.058465,-1.188973,...,-1.348879,-0.899480,-1.271886,0.333734,-0.373565,-2.091508,-0.715245,-0.688441,0.910927,-0.746899
2,-0.408470,-0.361105,-0.857278,0.338294,2.317821,-0.099928,0.557053,-0.847932,0.973471,0.101203,...,-0.388353,0.918553,-1.984422,0.385055,1.161414,-1.280253,2.831802,-0.953771,-0.228466,0.766254
3,-0.690599,0.777928,-0.079963,0.164086,1.721702,0.146761,-0.988636,0.885344,0.647053,0.674609,...,0.337074,-1.406224,-0.699728,-0.836068,-0.226315,1.260893,-0.781630,-0.219995,0.871289,0.017578
4,0.179819,-0.668267,0.381849,-0.884196,0.758519,-1.026190,0.986227,-1.663167,2.290551,0.564845,...,-0.700137,-0.153825,-1.835313,0.182131,0.890247,0.024791,1.489955,1.276357,-0.285144,1.066486

In [57]:
# sol 1
trg_var = df.corr().drop('var_11', axis=1).loc['var_11'].abs().idxmax()
df[trg_var].mean()

-0.06289356546077182

In [58]:
# sol 2
trg_var = df.corr()['var_11'].abs().sort_values().index[-2]
df[trg_var].mean()

-0.06289356546077182

## 1-3
var_6 컬럼의 1,3사분위수 각각 IQR의 1.5배 벗어난 이상치의 숫자를 구하라

In [59]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3.csv')
df.head()

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12
0,-0.401584,0.007198,-0.134910,-0.419514,-0.686331,-1.174550,-0.499150,-0.557510,0.357347,0.844209,0.082097,0.475098
1,1.064622,-0.531247,0.571185,-0.762243,-1.456043,0.355432,0.880010,0.523183,-0.141733,0.301472,0.840299,-0.045113
2,0.900195,-1.148496,-0.718437,-2.315266,-0.755505,0.630923,0.586027,0.086497,-0.381657,-1.602532,1.566340,-0.654105
3,1.199227,-0.114200,0.101536,-1.851971,-0.672844,0.796077,0.644246,-0.836296,-1.707074,0.376281,1.303967,1.228015
4,0.607393,1.675917,1.063759,-0.799493,-0.959568,-0.103007,-0.245984,-0.059492,0.293592,-0.517044,0.100772,0.403833

In [60]:
Q1 = df['var_6'].quantile(0.25)
Q3 = df['var_6'].quantile(0.75)
IQR = Q3 - Q1

max_boundary = Q3 + 1.5 * IQR
min_boundary = Q1 - 1.5 * IQR

In [61]:
cond1 = df['var_6'] < min_boundary
cond2 = df['var_6'] > max_boundary
cond = cond1 | cond2
df[cond].shape[0]

8

# 작업 2 유형
종속변수 :이용금액 , 평가지표 : rmse

In [62]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p2_train2.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p2_test2.csv')

display(train.head(2))
display(test.head(2))

        ID      연월  업종명 이용자구분    성별  이용자수   이용건수        이용금액
0  ID_5020  202201  여관업    법인  알수없음  7693  12105  3049021809
1  ID_5021  202201  여관업  제주도민    남성  3990   4291   294163241

        ID      연월         업종명 이용자구분    성별    이용자수    이용건수
0  ID_2575  201911     한식 음식점업  제주도민    여성  153363  163462
1  ID_6637  202305  건강보조식품 소매업    법인  알수없음     136     144

In [63]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2245 entries, 0 to 2244
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      2245 non-null   object
 1   연월      2245 non-null   int64
 2   업종명     2245 non-null   object
 3   이용자구분   2245 non-null   object
 4   성별      2245 non-null   object
 5   이용자수    2245 non-null   int64
 6   이용건수    2245 non-null   int64
 7   이용금액    2245 non-null   int64
dtypes: int64(4), object(4)
memory usage: 140.4+ KB

In [64]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5020 entries, 0 to 5019
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      5020 non-null   object
 1   연월      5020 non-null   int64
 2   업종명     5020 non-null   object
 3   이용자구분   5020 non-null   object
 4   성별      5020 non-null   object
 5   이용자수    5020 non-null   int64
 6   이용건수    5020 non-null   int64
dtypes: int64(3), object(4)
memory usage: 274.7+ KB

In [65]:
for col in train.columns:
    print(f'unique of {col}', train[col].unique())

unique of ID ['ID_5020' 'ID_5021' 'ID_5022' ... 'ID_7262' 'ID_7263' 'ID_7264']
unique of 연월 [202201 202202 202203 202204 202205 202206 202207 202208 202209 202210
 202211 202212 202301 202302 202303 202304 202305 202306 202307 202308
 202309 202310]
unique of 업종명 ['여관업' '전시 및 행사 대행업' '체인화 편의점' '피자, 햄버거, 샌드위치 및 유사 음식점업' '한식 음식점업' '호텔업'
 '화장품 및 방향제 소매업' '건강보조식품 소매업' '기타 대형 종합 소매업' '면세점' '비알콜 음료점업'
 '빵 및 과자류 소매업' '서양식 음식점업' '슈퍼마켓' '스포츠 및 레크레이션 용품 임대업']
unique of 이용자구분 ['법인' '제주도민' '내국인' '중국' '기타외국' '동남아' '일본']
unique of 성별 ['알수없음' '남성' '여성']
unique of 이용자수 [7693 3990 1495 ...  488 1318 2611]
unique of 이용건수 [12105  4291  1620 ...   521  1410  2798]
unique of 이용금액 [3049021809  294163241  119277191 ...  103054160  195816205   41815300]

### 컬럼 요약
- ID : id
- 연월 : 날짜 숫자형. format='%Y%m'. datetime 변환 후 year, month 파생 변수 생성 활용
- 업종명 : 범주형-명목형. 원핫인코딩 수행
- 이용자구분 : 범주형-명목형. 원핫인코딩 수행
- 성별 : 범주형-명목형. 원핫인코딩 수행
- 이용자수 : 수치형-이산형.
- 이용건수 : 수치형-이산형.
- 이용금액 : 수치형-연속형. 타겟 데이터

In [66]:
# id 컬럼 드랍 및 타겟 데이터 분리 및 테스트 데이터 id 확보
train.drop('ID', axis=1, inplace=True)
y = train.pop('이용금액')
test_id = test.pop('ID')

In [67]:
# to_datetime 변환
train['연월'] = pd.to_datetime(train['연월'], format='%Y%m')
test['연월'] = pd.to_datetime(test['연월'], format='%Y%m')

In [68]:
# 날짜 파생변수 year, month 생성
train['year'] = train['연월'].dt.year
train['month'] = train['연월'].dt.month

test['year'] = test['연월'].dt.year
test['month'] = test['연월'].dt.year

train.drop('연월', axis=1, inplace=True)
test.drop('연월', axis=1, inplace=True)

In [69]:
# 원핫인코딩 대상 컬럼명 확보
object_columns = train.select_dtypes(include='object').columns
object_columns

Index(['업종명', '이용자구분', '성별'], dtype='object')

In [70]:
# 업종명, 이용자구분, 성별 컬럼 원핫 인코딩
train = pd.get_dummies(train, columns=object_columns)
test = pd.get_dummies(test, columns=object_columns)

In [71]:
# 데이터 분리
from sklearn.model_selection import train_test_split

random_state = 42


X_train, X_val, y_train, y_val = train_test_split(train, y, test_size=0.2, random_state=42)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((1796, 29), (449, 29), (1796,), (449,))

In [72]:
# 모델 객체 생성 및 학습
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor()
rf.fit(X_train, y_train)

RandomForestRegressor()

In [73]:
# 검증 데이터 추론

preds = rf.predict(X_val)

In [74]:
# 평가지표 검증
from sklearn.metrics import r2_score, mean_squared_error
import numpy as np

r2 = r2_score(y_val, preds)
rmse = np.sqrt(mean_squared_error(y_val, preds))
print('r2:', r2, 'rmse:', rmse)

r2: 0.9933733295558609 rmse: 143407431.30887946

In [75]:
# 평가 데이터 추론
preds = rf.predict(test)

In [76]:
# 제출
submission = pd.DataFrame({'ID': test_id, 'price': preds})
submission.to_csv('submission.csv', index=False)

# 작업 유형 3

In [77]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3_1.csv')
df.head()

,Target,v1,v2,v3,v4,v5,v6,v7,v8,v9,...,v12,v13,v14,v15,v16,v17,v18,v19,v20,v21
0,21.650072,0.496714,-0.138264,0.647689,1.523030,-0.234153,-0.234137,1.579213,0.767435,-0.469474,...,-0.465730,0.241962,-1.913280,-1.724918,-0.562288,-1.012831,0.314247,-0.908024,-1.412304,1.465649
1,-19.469855,-0.225776,0.067528,-1.424748,-0.544383,0.110923,-1.150994,0.375698,-0.600639,-0.291694,...,-0.013497,-1.057711,0.822545,-1.220844,0.208864,-1.959670,-1.328186,0.196861,0.738467,0.171368
2,-24.475600,-0.115648,-0.301104,-1.478522,-0.719844,-0.460639,1.057122,0.343618,-1.763040,0.324084,...,0.611676,1.031000,0.931280,-0.839218,-0.309212,0.331263,0.975545,-0.479174,-0.185659,-1.106335
3,13.476831,-1.196207,0.812526,1.356240,-0.072010,1.003533,0.361636,-0.645120,0.361396,1.538037,...,-2.619745,0.821903,0.087047,-0.299007,0.091761,-1.987569,-0.219672,0.357113,1.477894,-0.518270
4,3.505322,-0.808494,-0.501757,0.915402,0.328751,-0.529760,0.513267,0.097078,0.968645,-0.702053,...,-1.463515,0.296120,0.261055,0.005113,-0.234587,-1.415371,-0.420645,-0.342715,-0.802277,-0.161286

## 3-1
선형관계 가장 큰 변수 찾아 상관계수를 구하여라

In [78]:
print('가장 큰 상관계수를 갖는 변수 :', df.corr()['Target'].drop('Target').idxmax())
print('상관계수 :', df.corr()['Target'].drop('Target').max())

가장 큰 상관계수를 갖는 변수 : v3
상관계수 : 0.6270251925517436

## 3-2
Target 변수를 종속변수로 하여 다중선형회귀모델링을 진행했을 때 v2 컬럼의 회귀 계수는?

### 최소 제곱법(Least Squares Method)
- 회귀 분석에서 사용되는 통계적 방법으로, 주어진 데이터 포인트에 가장 잘 맞는 추세선을 찾기 위해 잔차(residual)의 제곱합을 최소화하는 방식
- 잔차는 실제값과 예측값의 차이를 의미하며, 잔차의 제곱합을 최소화함으로써 예측 모델의 정확도를 높이는 것을 목표로 함
- 잔차 제곱합(RSS: Residual Sum of Squares)을 최소화하는 회귀 계수 탐색 기법
- OLS(Ordinary Least Squares)
    - 가장 일반적으로 사용되는 회귀 분석 방법
    - 오차항(잔차)의 분산이 동일하다고 가정(등분산 가정 O)
- GLS(Generalized Least Squares)
    - OLS의 일반화된 형태
    - 오차항의 분산이 일정하지 않을 경우 사용(등분산 가정 X)
    - 오차항의 분산-공분산 행렬을 고려하여 모델 적합
    - 시계열 데이터 같은 시간에 따라 오차항의 분산이 변하는 경우 GLS를 사용하여 적절한 회귀 모델 적합

In [79]:
# sol2 - import statsmodels.api as sm으로 다중선형회귀모델링. 상수항 수동 입력 필수.
import statsmodels.api as sm

X = df.drop('Target', axis=1)
X = sm.add_constant(X)  # 상수항 추가
y = df['Target']
model = sm.OLS(y, X).fit()
print('v2 컬럼의 회귀 계수:', model.params['v2'])

v2 컬럼의 회귀 계수: 6.440301364843064

In [80]:
# sol3 - from statsmodels.formula.api import smf으로 다중선형회귀모델링. 상수항 자동으로 추가 됨.
from statsmodels.formula.api import ols

formula = 'Target ~ v1 + v2 + v3 + v4 + v5 + v6 + v7 + v8 + v9 + v10 + v11 + v12 + v12 + v13 + v14 + v15 + v16 + v17 + v18 + v19 + v20 + v21'
model = ols(formula=formula, data=df).fit()
print('v2 컬럼의 회귀 계수:', model.params['v2'])

v2 컬럼의 회귀 계수: 6.440301364843064


## 3-3
회귀 계수들이 가지는 p값들 중 최대 값은?
- params : 추정된 모델의 회귀 계수(coefficients)
- resid : 적합 후의 잔차(residuals)
- fittedvalues : 적합된 모델에서 예측한 값
    ```python
    from sklearn.metrics import mean_squraed_error
    mean_squraed_error(y, model.fittedvalues)
    ```
- rsquared : 결정 계수(coefficient of determination)
    - 결정계수란? 통계학에서 추정한 선형 모형이 주어진 자료에 적합한 정도를 재는 척도. 반응 변수의 변동량 중에서 적용한 모형으로 설명가능한 부분의 비율.
- rsquared_adj : 조정된 결정 계수. 독립 변수의 수와 데이터 샘플의 수를 고려하여 결정 계수 조정한 값
- cov_params() : 모델의 계수에 대한 공분산 행렬(covariance matrix) 반환 메서드
- bse : 회귀 계수의 표준 오차
- tvalues : 각 회귀 계수의 t-통계량(t-statistics)
- pvalues : 각 회귀 계수에 대한 t-통계량에 대한 양측 검정의 p-value

In [81]:
model.pvalues.max()

0.9265545986906214

## 3-4
train 데이터로 target을 종속변수로 로지스틱 회귀를 진행할 때 age 컬럼의 오즈비를 구하여라

In [82]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3_t.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,1
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [83]:
# sol1
import numpy as np
import statsmodels.api as sm

train = df[: 210]
test = df[210: ]

# 데이터 분리
X = train.drop('target', axis=1)
X = sm.add_constant(X)
y = train['target']

# 로지스틱 회귀모형 적합
model = sm.Logit(y, X).fit()

# age의 컬럼의 오즈비
log_odds_ratio = model.params['age']
odds_ratio = np.exp(log_odds_ratio)
print('age 컬럼 오즈비 :', odds_ratio)

Optimization terminated successfully.
         Current function value: 0.320236
         Iterations 7
age 컬럼 오즈비 : 0.9944442574640205

In [84]:
# sol2
import numpy as np
from statsmodels.formula.api import logit

train = df[: 210]
test = df[210: ]

X = train.drop('target', axis=1)
y = train['target']

formula = 'target ~ ' + ' + '.join(X.columns.to_list())
model = logit(formula=formula, data=train).fit()

# age의 컬럼의 오즈비
log_odds_ratio = model.params['age']
odds_ratio = np.exp(log_odds_ratio)
print('age 컬럼 오즈비 :', odds_ratio)

Optimization terminated successfully.
         Current function value: 0.320236
         Iterations 7
age 컬럼 오즈비 : 0.9944442574640205

## 3-5
train으로 로지스틱 회귀 진행했을 경우 잔차 이탈도 (residual deviance)를 계산하라

In [85]:
import statsmodels.api as sm

In [97]:
X = train.drop('target', axis=1)
X = sm.add_constant(X)
y = train['target']

In [98]:
model = sm.GLM(y, X, family=sm.families.Binomial()).fit()

In [99]:
model.deviance

134.49903911342716

In [100]:
model.llf * (-2)

134.49903911342716

## 3-6
train으로 로지스틱 회귀 진행했을 경우 로짓 우도값을 도출하라

In [94]:
X = train.drop('target', axis=1)
X = sm.add_constant(X)
y = train['target']

model = sm.Logit(y, X).fit()

print(model.llf)  # llf : log-likelihood Function의 약자

Optimization terminated successfully.
         Current function value: 0.320236
         Iterations 7
-67.24951955671358

134.49903911342716

## 3-7
test 데이터의 독립변수로 target 예측 후 오류율을 구하여라

In [101]:
X = test.drop('target', axis=1)
X = sm.add_constant(X)
y = test['target']

In [102]:
pred = model.predict(X)

In [103]:
pred = pred > 0.5

In [104]:
from sklearn.metrics import accuracy_score

error_rate = 1 - accuracy_score(y, pred)
print(error_rate)

0.1954022988505747