In [756]:
import numpy as np
import pandas as pd

from sklearn.metrics import r2_score, mean_squared_error

In [757]:
train = pd.read_csv("/kaggle/input/bike-sharing-demand/train.csv")
test = pd.read_csv("/kaggle/input/bike-sharing-demand/test.csv")

In [758]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

In [759]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6493 entries, 0 to 6492
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    6493 non-null   object
 1   season      6493 non-null   int64
 2   holiday     6493 non-null   int64
 3   workingday  6493 non-null   int64
 4   weather     6493 non-null   int64
 5   temp        6493 non-null   float64
 6   atemp       6493 non-null   float64
 7   humidity    6493 non-null   int64
 8   windspeed   6493 non-null   float64
dtypes: float64(3), int64(5), object(1)
memory usage: 456.7+ KB

In [760]:
train.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [761]:
test.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000

In [762]:
# 문자열 날짜를 datetime 형식으로 변환 
train['datetime'] = pd.to_datetime(train['datetime'])
test['datetime'] = pd.to_datetime(test['datetime'])

In [763]:
# train에는 있지만 test에는 없는 컬럼을 train에서 삭제
train.drop(['casual', 'registered'], axis=1, inplace=True)

In [764]:
# train 컬럼 별 고유 값 출력
for col in train.columns:
    print(f'unique values of {col}:', np.sort(train[col].unique()))

unique values of datetime: ['2011-01-01T00:00:00.000000000' '2011-01-01T01:00:00.000000000'
 '2011-01-01T02:00:00.000000000' ... '2012-12-19T21:00:00.000000000'
 '2012-12-19T22:00:00.000000000' '2012-12-19T23:00:00.000000000']
unique values of season: [1 2 3 4]
unique values of holiday: [0 1]
unique values of workingday: [0 1]
unique values of weather: [1 2 3 4]
unique values of temp: [ 0.82  1.64  2.46  3.28  4.1   4.92  5.74  6.56  7.38  8.2   9.02  9.84
 10.66 11.48 12.3  13.12 13.94 14.76 15.58 16.4  17.22 18.04 18.86 19.68
 20.5  21.32 22.14 22.96 23.78 24.6  25.42 26.24 27.06 27.88 28.7  29.52
 30.34 31.16 31.98 32.8  33.62 34.44 35.26 36.08 36.9  37.72 38.54 39.36
 41.  ]
unique values of atemp: [ 0.76   1.515  2.275  3.03   3.79   4.545  5.305  6.06   6.82   7.575
  8.335  9.09   9.85  10.605 11.365 12.12  12.88  13.635 14.395 15.15
 15.91  16.665 17.425 18.18  18.94  19.695 20.455 21.21  21.97  22.725
 23.485 24.24  25.    25.76  26.515 27.275 28.03  28.79  29.545 30.305
 31.06  31.82  32.575 33.335 34.09  34.85  35.605 36.365 37.12  37.88
 38.635 39.395 40.15  40.91  41.665 42.425 43.18  43.94  44.695 45.455]
unique values of humidity: [  0   8  10  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26
  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44
  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62
  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80
  81  82  83  84  85  86  87  88  89  90  91  92  93  94  96  97 100]
unique values of windspeed: [ 0.      6.0032  7.0015  8.9981 11.0014 12.998  15.0013 16.9979 19.0012
 19.9995 22.0028 23.9994 26.0027 27.9993 30.0026 31.0009 32.9975 35.0008
 36.9974 39.0007 40.9973 43.0006 43.9989 46.0022 47.9988 50.0021 51.9987
 56.9969]
unique values of count: [  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198
 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216
 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234
 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252
 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270
 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288
 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306
 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324
 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342
 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360
 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378
 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396
 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414
 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432
 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450
 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468
 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486
 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504
 505 506 507 508 509 511 512 513 514 515 516 517 518 519 520 521 522 523
 524 525 526 527 528 529 530 531 532 533 534 536 537 538 539 540 541 542
 543 544 545 546 547 549 550 551 552 553 554 555 556 557 558 559 560 561
 562 563 564 565 566 567 568 569 570 571 572 573 575 576 577 578 579 580
 581 582 583 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598
 599 600 601 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616
 617 618 619 620 622 623 624 625 626 627 628 629 630 631 632 633 634 635
 636 637 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652 653
 654 655 656 657 658 659 660 661 662 663 665 666 667 668 669 670 671 672
 673 674 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691
 692 693 694 696 698 700 701 702 704 705 706 708 710 711 712 713 715 717
 719 721 722 723 724 725 729 730 731 732 733 734 737 738 739 741 743 744
 745 746 747 748 749 750 755 757 758 759 761 766 767 769 770 771 772 774
 775 776 777 779 781 782 783 784 785 788 790 791 792 793 794 795 797 798
 800 801 806 808 809 810 811 812 813 814 817 818 819 822 823 825 827 830
 831 832 834 835 837 838 839 842 843 844 846 848 849 850 851 852 854 856
 857 858 862 863 865 867 868 869 871 872 873 877 884 886 887 888 890 891
 892 894 897 900 901 917 925 943 948 968 970 977]

In [765]:
# train 컬럼 별 고유 값 출력
for col in test.columns:
    print(f'unique values of {col}:', np.sort(test[col].unique()))

unique values of datetime: ['2011-01-20T00:00:00.000000000' '2011-01-20T01:00:00.000000000'
 '2011-01-20T02:00:00.000000000' ... '2012-12-31T21:00:00.000000000'
 '2012-12-31T22:00:00.000000000' '2012-12-31T23:00:00.000000000']
unique values of season: [1 2 3 4]
unique values of holiday: [0 1]
unique values of workingday: [0 1]
unique values of weather: [1 2 3 4]
unique values of temp: [ 0.82  1.64  2.46  3.28  4.1   4.92  5.74  6.56  7.38  8.2   9.02  9.84
 10.66 11.48 12.3  13.12 13.94 14.76 15.58 16.4  17.22 18.04 18.86 19.68
 20.5  21.32 22.14 22.96 23.78 24.6  25.42 26.24 27.06 27.88 28.7  29.52
 30.34 31.16 31.98 32.8  33.62 34.44 35.26 36.08 36.9  37.72 38.54 39.36
 40.18]
unique values of atemp: [ 0.     0.76   1.515  2.275  3.03   3.79   4.545  5.305  6.06   6.82
  7.575  8.335  9.09   9.85  10.605 11.365 12.12  12.88  13.635 14.395
 15.15  15.91  16.665 17.425 18.18  18.94  19.695 20.455 21.21  21.97
 22.725 23.485 24.24  25.    25.76  26.515 27.275 28.03  28.79  29.545
 30.305 31.06  31.82  32.575 33.335 34.09  34.85  35.605 36.365 37.12
 37.88  38.635 39.395 40.15  40.91  41.665 42.425 43.18  43.94  44.695
 45.455 46.21  47.725 49.24  50.   ]
unique values of humidity: [ 16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33
  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51
  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69
  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87
  88  89  90  93  94  96 100]
unique values of windspeed: [ 0.      6.0032  7.0015  8.9981 11.0014 12.998  15.0013 16.9979 19.0012
 19.9995 22.0028 23.9994 26.0027 27.9993 30.0026 31.0009 32.9975 35.0008
 36.9974 39.0007 40.9973 43.0006 43.9989 46.0022 50.0021 54.002  55.9986]

# 데이터 요약
- datetime : datetime 날짜 데이터. year, month, day, weekday(요일), quarter(분기), week(주차) 파생변수 사용.
- season : 순서형 데이터. 계절의 주기적 특성 반영 위해 사인과 코사인 활용 인코딩
- holiday : 이진 데이터
- workingday : 이진 데이터
- temp : 연속형 데이터. 스케일링 필요
- atemp : 연속형 데이터. 스케일링 필요
- humidity : 이산형 데이터
- windspeed : 연속형 데이터. 스케일링 필요
- cocunt : 이산형 데이터. 타켓 데이터

In [766]:
# 결측값 확인
train.isnull().sum()

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
count         0
dtype: int64

In [767]:
# 결측값 확인
test.isnull().sum()

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
dtype: int64

In [768]:
# datetime 컬럼 사용하여 파생변수 year, month, day 생성
train['year'] = train['datetime'].dt.year
train['month'] = train['datetime'].dt.month
train['day'] = train['datetime'].dt.day
test['year'] = test['datetime'].dt.year
test['month'] = test['datetime'].dt.month
test['day'] = test['datetime'].dt.day

In [769]:
# datetime 컬럼 사용하여 파생변수 weekday, quarter, week 생성
train['weekday'] = train['datetime'].dt.weekday
train['quarter'] = train['datetime'].dt.quarter
train['week'] = train['datetime'].dt.isocalendar().week.astype(int)
test['weekday'] = test['datetime'].dt.weekday
test['quarter'] = test['datetime'].dt.quarter
test['week'] = test['datetime'].dt.isocalendar().week.astype(int)

In [770]:
train.drop('datetime', axis=1, inplace=True)
test.drop('datetime', axis=1, inplace=True)

In [771]:
# # 계절 컬럼 주기적 인코딩
train['season_sin'] = np.sin(2 * np.pi * train['season'] / 4)
train['season_cos'] = np.cos(2 * np.pi * train['season'] / 4)
test['season_sin'] = np.sin(2 * np.pi * test['season'] / 4)
test['season_cos'] = np.cos(2 * np.pi * test['season'] / 4)

In [772]:
X = train
y = X.pop('count')

In [773]:
train

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,year,month,day,season_sin,season_cos
0,1,0,0,1,9.84,14.395,81,0.0000,2011,1,1,1.000000e+00,6.123234e-17
1,1,0,0,1,9.02,13.635,80,0.0000,2011,1,1,1.000000e+00,6.123234e-17
2,1,0,0,1,9.02,13.635,80,0.0000,2011,1,1,1.000000e+00,6.123234e-17
3,1,0,0,1,9.84,14.395,75,0.0000,2011,1,1,1.000000e+00,6.123234e-17
4,1,0,0,1,9.84,14.395,75,0.0000,2011,1,1,1.000000e+00,6.123234e-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,4,0,1,1,15.58,19.695,50,26.0027,2012,12,19,-2.449294e-16,1.000000e+00
10882,4,0,1,1,14.76,17.425,57,15.0013,2012,12,19,-2.449294e-16,1.000000e+00
10883,4,0,1,1,13.94,15.910,61,15.0013,2012,12,19,-2.449294e-16,1.000000e+00
10884,4,0,1,1,13.94,17.425,61,6.0032,2012,12,19,-2.449294e-16,1.000000e+00
10885,4,0,1,1,13.12,16.665,66,8.9981,2012,12,19,-2.449294e-16,1.000000e+00

In [774]:
# 연속형 데이터 스케일링
float_columns = ['temp', 'atemp', 'windspeed']
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
train[float_columns] = scaler.fit_transform(train[float_columns])
test[float_columns] = scaler.transform(test[float_columns])

In [775]:
from sklearn.model_selection import train_test_split
random_state = 42
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [776]:
random_state=42

## 랜덤포레스트

In [777]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=300, max_depth=30, random_state=42)
rf.fit(X_train, y_train)
pred = rf.predict(X_val)
print('r2 :', r2_score(y_val, pred))
print('rmse :', np.sqrt(mean_squared_error(y_val, pred)))

r2 : 0.47509184637175117
rmse : 131.62678208420337

## XGBoost 모델

In [778]:
from xgboost import XGBRegressor

xgb = XGBRegressor(n_estimators=500, learning_rate=0.01, max_depth=9, random_state=42)
xgb.fit(X_train, y_train)
pred = xgb.predict(X_val)
print('r2 :', r2_score(y_val, pred))
print('rmse :', np.sqrt(mean_squared_error(y_val, pred)))

r2 : 0.4756716795298196
rmse : 131.554062065683

## test 데이터 예측

In [779]:
# 예측
pred = rf.predict(test)
pred

array([ 87.21666667,  67.63111111,  67.63111111, ..., 206.06966667,
       146.22744444, 146.13077778])

In [780]:
# csv 파일 생성
test = pd.read_csv("/kaggle/input/bike-sharing-demand/test.csv")

submit = pd.DataFrame({
    'datetime': test['datetime'],
    'count': pred
})
submit.to_csv("submission.csv", index=False)

In [781]:
# 점검
print(pd.read_csv("submission.csv"))
print(submit.shape, test.shape)

                 datetime       count
0     2011-01-20 00:00:00   87.216667
1     2011-01-20 01:00:00   67.631111
2     2011-01-20 02:00:00   67.631111
3     2011-01-20 03:00:00   82.683611
4     2011-01-20 04:00:00   82.683611
...                   ...         ...
6488  2012-12-31 19:00:00  224.243056
6489  2012-12-31 20:00:00  224.243056
6490  2012-12-31 21:00:00  206.069667
6491  2012-12-31 22:00:00  146.227444
6492  2012-12-31 23:00:00  146.130778

[6493 rows x 2 columns]
(6493, 2) (6493, 9)