### 잔차이탈도를 구하시오
고객 정보를 나타낸 데이터이다. 주어진 데이터에서 500개 중 앞에서부터 300개는 train으로, 200개는 test 데이터로 나눈다. 모델을 학습(적합)할 때는 train 데이터를 사용하고, 예측할 때는 test 데이터를 사용한다. 모델은 로지스틱 회귀를 써서 고객이 특정 제품을 구매할지 여부를 예측하되, 페널티는 부과하지 않는다.

종속변수: purchase (0: 구매 안 함, 1: 구매 함)

Q. age, income, marital_status 변수를 독립변수로 purchase를 종속변수로 사용하여 로지스틱 회귀 모형을 만들고, 잔차이탈도를 구하시오. (반올림하여 소수 넷째자리까지 계산)

# sol 0

In [77]:
import pandas as pd
import statsmodels.api as sm

In [78]:
df = pd.read_csv("dataset/Customer_Data.csv")
df.head()

   age  income  marital_status  children  gender  purchase
0   62  111980               1         2       1         0
1   65  107314               0         3       1         0
2   18   56209               1         1       1         1
3   21   28010               1         3       0         1
4   21   79618               0         2       0         1

In [79]:
train = df[: 300].reset_index(drop=True)
test = df[300: ].reset_index(drop=True)

In [80]:
formula = 'purchase ~ age + income + C(marital_status)'
from statsmodels.formula.api import logit
model = logit(formula, data=train).fit()

ans = round(model.llf * -2, 4)
print('잔차 이탈도 :', ans)

Optimization terminated successfully.
         Current function value: 0.687415
         Iterations 4
잔차 이탈도 : 412.449

In [81]:
import pandas as pd
import statsmodels.api as sm

In [82]:
df = pd.read_csv("dataset/Customer_Data.csv")
df.head()

   age  income  marital_status  children  gender  purchase
0   62  111980               1         2       1         0
1   65  107314               0         3       1         0
2   18   56209               1         1       1         1
3   21   28010               1         3       0         1
4   21   79618               0         2       0         1

In [83]:
df = sm.add_constant(df)

In [84]:
train = df[: 300].reset_index(drop=True)
test = df[300: ].reset_index(drop=True)

In [85]:
de_cols = ['const', 'age', 'income', 'marital_status']
inde_cols = ['purchase']

In [86]:
X = train[de_cols]
X.head()

   const  age  income  marital_status
0    1.0   62  111980               1
1    1.0   65  107314               0
2    1.0   18   56209               1
3    1.0   21   28010               1
4    1.0   21   79618               0

In [87]:
y = train[inde_cols]
y.head()

   purchase
0         0
1         0
2         1
3         1
4         1

# sol 1

In [88]:
import statsmodels.api as sm

In [89]:
model = sm.Logit(y, X).fit()

Optimization terminated successfully.
         Current function value: 0.687415
         Iterations 4

In [90]:
deviance = round(model.llf * -2, 4)
print(deviance)

412.449

# sol 2

In [92]:
import statsmodels.api as sm

In [93]:
model = sm.GLM(y, X, family=sm.families.Binomial()).fit()

In [94]:
ans = round(model.deviance, 4)  # model.deviance == model.llf * -2
print(ans)

412.449