### 잔차이탈도를 구하시오
고객 정보를 나타낸 데이터이다. 주어진 데이터에서 500개 중 앞에서부터 300개는 train으로, 200개는 test 데이터로 나눈다. 모델을 학습(적합)할 때는 train 데이터를 사용하고, 예측할 때는 test 데이터를 사용한다. 모델은 로지스틱 회귀를 써서 고객이 특정 제품을 구매할지 여부를 예측하되, 페널티는 부과하지 않는다.

종속변수: purchase (0: 구매 안 함, 1: 구매 함)

Q. age, income, marital_status 변수를 독립변수로 purchase를 종속변수로 사용하여 로지스틱 회귀 모형을 만들고, 잔차이탈도를 구하시오. (반올림하여 소수 넷째자리까지 계산)

In [90]:
import pandas as pd

In [84]:
df = pd.read_csv("dataset/Customer_Data.csv")
df.head()

   age  income  marital_status  children  gender  purchase
0   62  111980               1         2       1         0
1   65  107314               0         3       1         0
2   18   56209               1         1       1         1
3   21   28010               1         3       0         1
4   21   79618               0         2       0         1

In [85]:
df = sm.add_constant(df)

In [86]:
train = df[: 300].reset_index(drop=True)
test = df[300: ].reset_index(drop=True)

In [87]:
de_cols = ['const', 'age', 'income', 'marital_status']
inde_cols = ['purchase']

In [88]:
X = train[de_cols]
X.head()

   const  age  income  marital_status
0    1.0   62  111980               1
1    1.0   65  107314               0
2    1.0   18   56209               1
3    1.0   21   28010               1
4    1.0   21   79618               0

In [89]:
y = train[inde_cols]
y.head()

   purchase
0         0
1         0
2         1
3         1
4         1

# sol 1

In [77]:
import statsmodels.api as sm

In [93]:
model = sm.Logit(y, X).fit()

Optimization terminated successfully.
         Current function value: 0.687415
         Iterations 4

In [97]:
deviance = round(model.llf * -2, 4)
print(deviance)

412.449

# sol 2

In [72]:
model = sm.GLM(y, X, family=sm.families.Binomial()).fit()

In [73]:
ans = round(model.deviance, 4)  # model.deviance == model.llf * -2
print(ans)

412.449

# sol 3
log_loss 사용 시 값 불일치

In [111]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import log_loss

In [103]:
model = LogisticRegression()

In [104]:
model.fit(X, y)

C:\Users\dudejr\anaconda3\envs\kaggle\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [108]:
pred_prob = model.predict_proba(X)[:, 1]

In [110]:
log_loss(y, pred_prob) * len(y) * 2

413.62182157384876